@charset "utf-8";

@import url('reset.css');
@import url('layout.css');
@import url('common.css');

/* dashboard */
.dashboard {
	position:relative; height:100%;
}
.dashboard::after {
	content:''; display:table; clear:both;
}

.dashboard .floor-block {
	position:relative; float:left; width:40%; height:100%;
}
.dashboard .floor-block .image-group {
	position:absolute; width:605px; top:160px; left:-30px; right:0px; margin:0px auto;
}
.dashboard .floor-block .floor {
	position:absolute; width:100%; left:0px; transition:all 0.5s ease;
}

.dashboard .floor-block .floor.f1 {
	height:150px; top:360px; background:url("../images/floor-1f-n.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f1 .warning-img {
	width:100%; height:100%; opacity:0; background:url("../images/floor-1f-w-ns.png") 50% 50% no-repeat; z-index:;
}
.dashboard .floor-block .floor.f1::after {
	content:'- 1F'; display:block; position:absolute; font-size:18px; line-height:1.5em; color:#999; font-weight:bold; bottom:20px; right:-40px;
}
.dashboard .floor-block .floor.f1:hover {
	background:url("../images/floor-1f-o.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f1.active {
	background:url("../images/floor-1f-s.png") 50% 50% no-repeat; -webkit-animation: warning-1f-active 0.6s ease 1; animation: warning-1f-active 0.6s ease 1;
}
@-webkit-keyframes warning-1f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
@keyframes warning-1f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
.dashboard .floor-block .floor.f1.active::after {
	color:#02c1ff;
}
.dashboard .floor-block .floor.f1.warning::after {
	font-size:20px; color:#f02612;
}
.dashboard .floor-block .floor.f1.warning {
	background:url("../images/floor-1f-w.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f1.warning .warning-img {
	-webkit-animation: warning-1f 0.8s ease infinite; animation: warning-1f 0.8s ease infinite;
}
@-webkit-keyframes warning-1f {
    0% { transform:scale(1.13,1.13); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.13,1.13); opacity:0; }
}
@keyframes warning-1f {
    0% { transform:scale(1.13,1.13); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.13,1.13); opacity:0; }
}
.dashboard .floor-block .floor.f2 {
	height:150px; top:280px; background:url("../images/floor-2f-n.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f2 .warning-img {
	width:100%; height:100%; opacity:0; background:url("../images/floor-2f-w-ns.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f2::after {
	content:'- 2F'; display:block; position:absolute; font-size:18px; line-height:1.5em; color:#999; font-weight:bold; bottom:20px; right:-40px;
}
.dashboard .floor-block .floor.f2:hover {
	background:url("../images/floor-2f-o.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f2.active {
	background:url("../images/floor-2f-s.png") 50% 50% no-repeat; -webkit-animation: warning-2f-active 0.6s ease 1; animation: warning-2f-active 0.6s ease 1;
}
@-webkit-keyframes warning-2f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
@keyframes warning-2f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
.dashboard .floor-block .floor.f2.active::after {
	color:#02c1ff;
}
.dashboard .floor-block .floor.f2.warning::after {
	font-size:20px; color:#f02612;
}
.dashboard .floor-block .floor.f2.warning {
	background:url("../images/floor-2f-w.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f2.warning .warning-img {
	-webkit-animation: warning-2f 0.8s ease infinite; animation: warning-2f 0.8s ease infinite;
}
@-webkit-keyframes warning-2f {
    0% { transform:scale(1.13,1.13); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.13,1.13); opacity:0; }
}
@keyframes warning-2f {
    0% { transform:scale(1.13,1.13); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.13,1.13); opacity:0; }
}
.dashboard .floor-block .floor.f3 {
	height:150px; top:205px; background:url("../images/floor-3f-n.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f3 .warning-img {
	width:100%; height:100%; opacity:0; background:url("../images/floor-3f-w-ns.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f3::after {
	content:'- 3F'; display:block; position:absolute; font-size:18px; line-height:1.5em; color:#999; font-weight:bold; bottom:20px; right:-40px;
}
.dashboard .floor-block .floor.f3:hover {
	background:url("../images/floor-3f-o.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f3.active {
	background:url("../images/floor-3f-s.png") 50% 50% no-repeat; -webkit-animation: warning-3f-active 0.6s ease 1; animation: warning-3f-active 0.6s ease 1;
}
@-webkit-keyframes warning-3f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
@keyframes warning-3f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
.dashboard .floor-block .floor.f3.active::after {
	color:#02c1ff;
}
.dashboard .floor-block .floor.f3.warning::after {
	font-size:20px; color:#f02612;
}
.dashboard .floor-block .floor.f3.warning {
	background:url("../images/floor-3f-w.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f3.warning .warning-img {
	-webkit-animation: warning-3f 0.8s ease infinite; animation: warning-3f 0.8s ease infinite;
}
@-webkit-keyframes warning-3f {
    0% { transform:scale(1.13,1.13); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.13,1.13); opacity:0; }
}
@keyframes warning-3f {
    0% { transform:scale(1.13,1.13); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.13,1.13); opacity:0; }
}
.dashboard .floor-block .floor.f4 {
	height:116px; top:165px; background:url("../images/floor-4f-n.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f4 .warning-img {
	width:100%; height:100%; opacity:0; background:url("../images/floor-4f-w-ns.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f4::after {
	content:'----- 4F'; display:block; position:absolute; font-size:18px; line-height:1.5em; color:#999; font-weight:bold; bottom:15px; right:-40px;
}
.dashboard .floor-block .floor.f4:hover {
	background:url("../images/floor-4f-o.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f4.active {
	background:url("../images/floor-4f-s.png") 50% 50% no-repeat; -webkit-animation: warning-4f-active 0.6s ease 1; animation: warning-4f-active 0.6s ease 1;
}
@-webkit-keyframes warning-4f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
@keyframes warning-4f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
.dashboard .floor-block .floor.f4.active::after {
	color:#02c1ff;
}
.dashboard .floor-block .floor.f4.warning::after {
	font-size:20px; color:#f02612;
}
.dashboard .floor-block .floor.f4.warning {
	background:url("../images/floor-4f-w.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f4.warning .warning-img {
	-webkit-animation: warning-4f 0.8s ease infinite; animation: warning-4f 0.8s ease infinite;
}
@-webkit-keyframes warning-4f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
@keyframes warning-4f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
.dashboard .floor-block .floor.f5 {
	height:110px; top:121px; background:url("../images/floor-5f-n.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f5 .warning-img {
	width:100%; height:100%; opacity:0; background:url("../images/floor-5f-w-ns.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f5::after {
	content:'----- 5F'; display:block; position:absolute; font-size:18px; line-height:1.5em; color:#999; font-weight:bold; bottom:15px; right:-40px;
}
.dashboard .floor-block .floor.f5:hover {
	background:url("../images/floor-5f-o.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f5.active {
	background:url("../images/floor-5f-s.png") 50% 50% no-repeat; -webkit-animation: warning-5f-active 0.6s ease 1; animation: warning-5f-active 0.6s ease 1;
}
@-webkit-keyframes warning-5f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
@keyframes warning-5f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
.dashboard .floor-block .floor.f5.active::after {
	color:#02c1ff;
}
.dashboard .floor-block .floor.f5.warning::after {
	font-size:20px; color:#f02612;
}
.dashboard .floor-block .floor.f5.warning {
	background:url("../images/floor-5f-w.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f5.warning .warning-img {
	-webkit-animation: warning-5f 0.8s ease infinite; animation: warning-5f 0.8s ease infinite;
}
@-webkit-keyframes warning-5f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
@keyframes warning-5f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
.dashboard .floor-block .floor.f6 {
	height:104px; top:75px; background:url("../images/floor-6f-n.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f6 .warning-img {
	width:100%; height:100%; opacity:0; background:url("../images/floor-6f-w-ns.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f6::after {
	content:'----- 6F'; display:block; position:absolute; font-size:18px; line-height:1.5em; color:#999; font-weight:bold; bottom:15px; right:-40px;
}
.dashboard .floor-block .floor.f6:hover {
	background:url("../images/floor-6f-o.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f6.active {
	background:url("../images/floor-6f-s.png") 50% 50% no-repeat; -webkit-animation: warning-6f-active 0.6s ease 1; animation: warning-6f-active 0.6s ease 1;
}
@-webkit-keyframes warning-6f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
@keyframes warning-6f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
.dashboard .floor-block .floor.f6.active::after {
	color:#02c1ff;
}
.dashboard .floor-block .floor.f6.warning::after {
	font-size:20px; color:#f02612;
}
.dashboard .floor-block .floor.f6.warning {
	background:url("../images/floor-6f-w.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f6.warning .warning-img {
	-webkit-animation: warning-6f 0.8s ease infinite; animation: warning-6f 0.8s ease infinite;
}
@-webkit-keyframes warning-6f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
@keyframes warning-6f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
.dashboard .floor-block .floor.f7 {
	height:98px; top:35px; background:url("../images/floor-7f-n.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f7 .warning-img {
	width:100%; height:100%; opacity:0; background:url("../images/floor-7f-w-ns.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f7::after {
	content:'----- 7F'; display:block; position:absolute; font-size:18px; line-height:1.5em; color:#999; font-weight:bold; bottom:15px; right:-40px;
}
.dashboard .floor-block .floor.f7:hover {
	background:url("../images/floor-7f-o.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f7.active {
	background:url("../images/floor-7f-s.png") 50% 50% no-repeat; -webkit-animation: warning-7f-active 0.6s ease 1; animation: warning-7f-active 0.6s ease 1;
}
@-webkit-keyframes warning-7f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
@keyframes warning-7f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
.dashboard .floor-block .floor.f7.active::after {
	color:#02c1ff;
}
.dashboard .floor-block .floor.f7.warning::after {
	font-size:20px; color:#f02612;
}
.dashboard .floor-block .floor.f7.warning {
	background:url("../images/floor-7f-w.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f7.warning .warning-img {
	-webkit-animation: warning-7f 0.8s infinite; animation: warning-7f 0.8s infinite;
}
@-webkit-keyframes warning-7f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
@keyframes warning-7f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
.dashboard .floor-block .floor.f8 {
	height:92px; top:0px; background:url("../images/floor-8f-n.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f8 .warning-img {
	width:100%; height:100%; opacity:0; background:url("../images/floor-8f-w-ns.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f8::after {
	content:'----- 8F'; display:block; position:absolute; font-size:18px; line-height:1.5em; color:#999; font-weight:bold; bottom:15px; right:-40px;
}
.dashboard .floor-block .floor.f8:hover {
	background:url("../images/floor-8f-o.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f8.active {
	background:url("../images/floor-8f-s.png") 50% 50% no-repeat; -webkit-animation: warning-8f-active 0.6s ease 1; animation: warning-8f-active 0.6s ease 1;
}
@-webkit-keyframes warning-8f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
@keyframes warning-8f-active {
    0% { transform:scale(0.8,0.8); opacity:0; }
	100% { transform:scale(1,1); opacity:1; }
}
.dashboard .floor-block .floor.f8.active::after {
	color:#02c1ff;
}
.dashboard .floor-block .floor.f8.warning::after {
	font-size:20px; color:#f02612;
}
.dashboard .floor-block .floor.f8.warning {
	background:url("../images/floor-8f-w.png") 50% 50% no-repeat;
}
.dashboard .floor-block .floor.f8.warning .warning-img {
	-webkit-animation: warning-8f 0.8s ease infinite; animation: warning-8f 0.8s ease infinite;
}
@-webkit-keyframes warning-8f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}
@keyframes warning-8f {
    0% { transform:scale(1.15,1.15); opacity:0; }
	40% { transform:scale(1,1); opacity:0.8; }
	41% { transform:scale(1,1); opacity:0; }
	100% { transform:scale(1.15,1.15); opacity:0; }
}

.dashboard .dashboard-block {
	position:relative; float:left; width:60%; height:100%; overflow:hidden;
}

/* policy */
.policy {
	overflow:auto;
}
.policy .content {
	width:1280px; height:auto; margin:0px auto;
}
.policy .search-block {
	position:relative; border:1px solid #ccc; padding:10px; margin-bottom:15px; background-color:#bbb;
}
.policy .search-block .option-block {
	position:relative; text-align:center; padding:10px; margin-bottom:10px; border-bottom:1px dashed #ccc;
}
.policy .search-block .option-block .item {
	position:relative; padding:0px 15px;
}
.policy .search-block .btn-block {
	position:relative; text-align:center;
}
.policy .policy-detail .btn-block a:hover {
	text-decoration:none;
}


/* log */
.log {
	overflow:auto;
}
.log .content {
	width:1280px; height:auto; margin:0px auto;
}
.log .search-block {
	position:relative; border:1px solid #ccc; padding:10px; margin-bottom:15px; background-color:#bbb;
}
.log .search-block .tap-block {
	position:relative;
}
.log .search-block .option-block {
	position:relative; margin-top:10px; padding-top:10px; border-top:1px dashed #ccc;
}
.log .search-block .option-block .row {
	position:relative; padding:3px 0px;
}
.log .search-block .option-block .tit {
	position:relative; display:inline-block; width:100px; font-size:13px; line-height:1.5em; color:#333; font-weight:bold;
}
.log .search-block .option-block label {
	margin-right:10px;
}
.log .search-block .option-block.sel-default .type-block {
	display:none;
}
.log .search-block .option-block.sel-type .default-block {
	display:none;
}