@charset "UTF-8";

body{
	
	margin:0;
}
form {
	text-align : center;
}
.modal-header{
	padding: 25px 20px;
	background-color: #32c5d2;
	
}
#infoTxt{
	
	padding-top: 10px;
}
.modal-body{
	
	padding-top:50px;
	padding-bottom:50px;
}
input[type="text"]{
	clear: left !important;
}

.repasswordForm{
	
	padding-top: 40px;
}
.modal-footer{
	
	 align-items: center;
	text-align : center;
}
#chkId{
	font-size : 14px;
}
.btn{
	padding : 4px 5px;
	font-size : 10px;
}
.fa{
	
	padding-right : 3px;
}
