#system_check:focus{
	outline:none!important;
	border: 1px solid #c2cad8;
}
.align_l{ float:left;}
.align_r{ float:right;}
.align_c{ text-align:center;}
.wrapper{ min-width:1280px;}
.popup_wrap{position: fixed;top: 0;justify-content: center;width: 100%;height: 100%;flex-direction: column;display: flex;z-index:101;}
.popup{ width:540px; height:450px; margin:0 auto; background:#fff;box-shadow:rgba(0,0,0,0.6) 0 0 0 99999px; z-index:100;}
.popup_header{ width:100%; height:50px; background:#016ecf; }
.popup_header h1{ font-size:15px; color:#fff; font-weight:bold; letter-spacing:-1px; margin:16px 0 0 32px; }
.popup_header .btn_close{ margin:19px 24px;background: url(../image/reportmanage/ico-close.gif) left top no-repeat; width:13px; height:13px; }
.popup_contents{ padding:30px 32px;}
.popup_contents .comment{ margin-bottom:48px;}
.table-box-wrap {position:relative; margin-top:20px;}
.table-box-wrap .table-box { max-height:248px; overflow:auto; overflow-x:hidden; border:1px solid #ddd;}
.table-box-wrap .table-box table { width:100%; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
.table-box-wrap .table-box table caption {position:absolute; font-size:0; left:-99999px;}
.table-box-wrap .table-box table thead tr { position:absolute; top:0;}
.table-box-wrap .table-box table thead tr th {font-weight: bold;line-height:40px; background:#fff; color:#222;text-align: center}
.table-box-wrap .table-box table td { text-align:center; height:px;line-height:38px; color:#222; font-size:13px;}
.table-box-wrap .table-box table tr:nth-child(odd){ background-color:#f5f5f5;}
.table-box-wrap .table-box table tr { display: inline-table; width: 100%; table-layout: fixed;}
.table-box-wrap .table-box table tbody tr { display: table-row;}
.table-box-wrap .table-box table td.system_name{ text-align:left; padding-left:40px}
.popup_btn{ margin-top:24px;}
#description:focus{border:none;}
#loading {
	 width: 100%;   
	 height: 100%;   
	 top: 0px;
	 left: 0px;
	 position: fixed;   
	 display: block;   
	 opacity: 0.7;   
	 background-color: #fff;   
	 z-index: 1000;   
	 text-align: center; 
	 display: none;
 }  
#loading-image {   
	 position: absolute;   
	 top: 50%;   
	 left: 50%;  
	 z-index: 100; 
 } 