@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

/* body */
html, body {
	width:100%; height:100%;
}
body {
	font-family:'Lucida Sans Unicode','나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic',Arial,'돋움',Dotum,sans-serif; font-size:12px; line-height:1.5em; color:#555; word-break:break-all;
}

/* forms */
input[type='button'], input[type='submit'], input[type='reset'], button {
	font-family:inherit; cursor:pointer;
}
input, label, button {
	vertical-align:middle;
}
input[type='text'], input[type='password'] {
	font-family:inherit;
}
input[type='checkbox'], input[type='radio'] {
	margin-top:0px;
}
label {
	display:inline-block; margin-left:4px; cursor:pointer;
}
select {
    padding-right:0px !important;   
}
textarea {
    resize:none;
}

/* float */
.fl-l {
	float:left !important;
}
.fl-r {
	float:right !important;
}
.fl-n {
	float:none !important;
}

/* clear */
.cl-b {
	clear:both !important;
}

/* text-align */
.ta-l {
	text-align:left !important;
}
.ta-c {
	text-align:center !important;
}
.ta-r {
	text-align:right !important;
}
.ta-j {
	text-align:justify !important;
}
.va-t {
	vertical-align:top !important;
}
.va-b {
	vertical-align:bottom !important;
}
.va-m {
	vertical-align:middle !important;
}

/* font style */
.fw-n {
	font-weight:normal !important;
}
.fw-b {
	font-weight:bold !important;
}
.fs-i {
	font-style:italic !important;
}
.td-u {
	text-decoration:underline !important;
}
.td-lt {
	text-decoration:line-through !important;
}
.tt-u {
	text-transform:uppercase !important;
}
.tt-l {
	text-transform:lowercase !important;
}
.tof-e {
	text-overflow:ellipsis !important;
}
.ws-n {
	white-space:nowrap;	
}

/* display / position */
.hide {
	display:none !important;
}
.dis-b {
	display:block !important;
}
.dis-i {
	display:inline !important;
}
.dis-ib {
	display:inline-block !important;
}
.dis-tb {
    display:table !important;   
}
.dis-tbc {
    display:table-cell !important; height:100% !important;  
}
.pos-rel {
	position:relative !important;
}
.pos-abs {
	position:absolute !important;
}
.pos-fix {
	position:fixed !important;
}
.abs-0px { 
	top:0px !important; bottom:0px !important; left:0px !important; right:0px !important;
}
.abs-t {
	top:0px !important;
}
.abs-b {
	bottom:0px !important;
}
.abs-l {
	left:0px !important;
}
.abs-r {
	right:0px !important;
}

/* block element align */
.be-ac {
	margin:0px auto !important;
}

/* box sizing */
.bs-bb {
	-webkit-box-sizing:border-box !important; -moz-box-sizing:border-box !important; box-sizing:border-box !important;
}

/* overflow */
.of-auto {
	overflow:auto !important;
}
.of-hid {
	overflow:hidden !important;
}

/* link */
a {
	color:#008ddd; cursor:pointer;
}
a:link, a:visited {
	text-decoration:none;
}
a:hover, a:active {
	text-decoration:underline;
}

/* cursor */
.cursor-pointer:hover {
	cursor:pointer !important;
}
.cursor-default:hover {
	cursor:default !important;
}
.pointer-events-none {
	pointer-events:none !important;
}

/* disabled */
.disabled {
	cursor:default !important; pointer-events:none !important; opacity:0.3 !important;
}

/* margin / padding */
.mar-0 {
	margin:0px !important;	
}
.mar-1 {
	margin:1px !important;
}
.mar-2 {
	margin:2px !important;
}
.mar-3 {
	margin:3px !important;
}
.mar-4 {
	margin:4px !important;
}
.mar-5 {
	margin:5px !important;
}
.mar-6 {
	margin:6px !important;
}
.mar-7 {
	margin:7px !important;
}
.mar-8 {
	margin:8px !important;
}
.mar-9 {
	margin:9px !important;
}
.mar-10 {
	margin:10px !important;
}
.mar-15 {
	margin:15px !important;
}
.mar-20 {
	margin:20px !important;
}
.mar-25 {
	margin:25px !important;
}
.mar-30 {
	margin:30px !important;
}
.mar-35 {
	margin:35px !important;
}
.mar-40 {
	margin:40px !important;
}
.mar-45 {
	margin:45px !important;
}
.mar-50 {
	margin:50px !important;
}
.mar-60 {
	margin:60px !important;
}
.mar-70 {
	margin:70px !important;
}
.mar-80 {
	margin:80px !important;
}
.mar-90 {
	margin:90px !important;
}
.mar-100 {
	margin:100px !important;
}
.mar-auto {
	margin:auto !important;	
}
.ml-0 {
	margin-left:0px !important;	
}
.ml-1 {
	margin-left:1px !important;
}
.ml-2 {
	margin-left:2px !important;
}
.ml-3 {
	margin-left:3px !important;
}
.ml-4 {
	margin-left:4px !important;
}
.ml-5 {
	margin-left:5px !important;
}
.ml-6 {
	margin-left:6px !important;
}
.ml-7 {
	margin-left:7px !important;
}
.ml-8 {
	margin-left:8px !important;
}
.ml-9 {
	margin-left:9px !important;
}
.ml-10 {
	margin-left:10px !important;
}
.ml-15 {
	margin-left:15px !important;
}
.ml-20 {
	margin-left:20px !important;
}
.ml-25 {
	margin-left:25px !important;
}
.ml-30 {
	margin-left:30px !important;
}
.ml-35 {
	margin-left:35px !important;
}
.ml-40 {
	margin-left:40px !important;
}
.ml-45 {
	margin-left:45px !important;
}
.ml-50 {
	margin-left:50px !important;
}
.ml-60 {
	margin-left:60px !important;
}
.ml-70 {
	margin-left:70px !important;
}
.ml-80 {
	margin-left:80px !important;
}
.ml-90 {
	margin-left:90px !important;
}
.ml-100 {
	margin-left:100px !important;
}
.mr-0 {
	margin-right:0px !important;	
}
.mr-1 {
	margin-right:1px !important;
}
.mr-2 {
	margin-right:2px !important;
}
.mr-3 {
	margin-right:3px !important;
}
.mr-4 {
	margin-right:4px !important;
}
.mr-5 {
	margin-right:5px !important;
}
.mr-6 {
	margin-right:6px !important;
}
.mr-7 {
	margin-right:7px !important;
}
.mr-8 {
	margin-right:8px !important;
}
.mr-9 {
	margin-right:9px !important;
}
.mr-10 {
	margin-right:10px !important;
}
.mr-15 {
	margin-right:15px !important;
}
.mr-20 {
	margin-right:20px !important;
}
.mr-25 {
	margin-right:25px !important;
}
.mr-30 {
	margin-right:30px !important;
}
.mr-35 {
	margin-right:35px !important;
}
.mr-40 {
	margin-right:40px !important;
}
.mr-45 {
	margin-right:45px !important;
}
.mr-50 {
	margin-right:50px !important;
}
.mr-60 {
	margin-right:60px !important;
}
.mr-70 {
	margin-right:70px !important;
}
.mr-80 {
	margin-right:80px !important;
}
.mr-90 {
	margin-right:90px !important;
}
.mr-100 {
	margin-right:100px !important;
}
.mt-0 {
	margin-top:0px !important;	
}
.mt-1 {
	margin-top:1px !important;
}
.mt-2 {
	margin-top:2px !important;
}
.mt-3 {
	margin-top:3px !important;
}
.mt-4 {
	margin-top:4px !important;
}
.mt-5 {
	margin-top:5px !important;
}
.mt-6 {
	margin-top:6px !important;
}
.mt-7 {
	margin-top:7px !important;
}
.mt-8 {
	margin-top:8px !important;
}
.mt-9 {
	margin-top:9px !important;
}
.mt-10 {
	margin-top:10px !important;
}
.mt-15 {
	margin-top:15px !important;
}
.mt-20 {
	margin-top:20px !important;
}
.mt-25 {
	margin-top:25px !important;
}
.mt-30 {
	margin-top:30px !important;
}
.mt-35 {
	margin-top:35px !important;
}
.mt-40 {
	margin-top:40px !important;
}
.mt-45 {
	margin-top:45px !important;
}
.mt-50 {
	margin-top:50px !important;
}
.mt-60 {
	margin-top:60px !important;
}
.mt-70 {
	margin-top:70px !important;
}
.mt-80 {
	margin-top:80px !important;
}
.mt-90 {
	margin-top:90px !important;
}
.mt-100 {
	margin-top:100px !important;
}
.mb-0 {
	margin-bottom:0px !important;	
}
.mb-1 {
	margin-bottom:1px !important;
}
.mb-2 {
	margin-bottom:2px !important;
}
.mb-3 {
	margin-bottom:3px !important;
}
.mb-4 {
	margin-bottom:4px !important;
}
.mb-5 {
	margin-bottom:5px !important;
}
.mb-6 {
	margin-bottom:6px !important;
}
.mb-7 {
	margin-bottom:7px !important;
}
.mb-8 {
	margin-bottom:8px !important;
}
.mb-9 {
	margin-bottom:9px !important;
}
.mb-10 {
	margin-bottom:10px !important;
}
.mb-15 {
	margin-bottom:15px !important;
}
.mb-20 {
	margin-bottom:20px !important;
}
.mb-25 {
	margin-bottom:25px !important;
}
.mb-30 {
	margin-bottom:30px !important;
}
.mb-35 {
	margin-bottom:35px !important;
}
.mb-40 {
	margin-bottom:40px !important;
}
.mb-45 {
	margin-bottom:45px !important;
}
.mb-50 {
	margin-bottom:50px !important;
}
.mb-60 {
	margin-bottom:60px !important;
}
.mb-70 {
	margin-bottom:70px !important;
}
.mb-80 {
	margin-bottom:80px !important;
}
.mb-90 {
	margin-bottom:90px !important;
}
.mb-100 {
	margin-bottom:100px !important;
}
.padd-0 {
	padding:0px !important;
}
.padd-1 {
	padding:1px !important;
}
.padd-2 {
	padding:2px !important;
}
.padd-3 {
	padding:3px !important;
}
.padd-4 {
	padding:4px !important;
}
.padd-5 {
	padding:5px !important;
}
.padd-6 {
	padding:6px !important;
}
.padd-7 {
	padding:7px !important;
}
.padd-8 {
	padding:8px !important;
}
.padd-9 {
	padding:9px !important;
}
.padd-10 {
	padding:10px !important;
}
.padd-15 {
	padding:15px !important;
}
.padd-20 {
	padding:20px !important;
}
.padd-25 {
	padding:25px !important;
}
.padd-30 {
	padding:30px !important;
}
.padd-35 {
	padding:35px !important;
}
.padd-40 {
	padding:40px !important;
}
.padd-45 {
	padding:45px !important;
}
.padd-50 {
	padding:50px !important;
}
.padd-60 {
	padding:60px !important;
}
.padd-70 {
	padding:70px !important;
}
.padd-80 {
	padding:80px !important;
}
.padd-90 {
	padding:90px !important;
}
.padd-100 {
	padding:100px !important;
}
.pl-0 {
	padding-left:0px !important;	
}
.pl-1 {
	padding-left:1px !important;
}
.pl-2 {
	padding-left:2px !important;
}
.pl-3 {
	padding-left:3px !important;
}
.pl-4 {
	padding-left:4px !important;
}
.pl-5 {
	padding-left:5px !important;
}
.pl-6 {
	padding-left:6px !important;
}
.pl-7 {
	padding-left:7px !important;
}
.pl-8 {
	padding-left:8px !important;
}
.pl-9 {
	padding-left:9px !important;
}
.pl-10 {
	padding-left:10px !important;
}
.pl-15 {
	padding-left:15px !important;
}
.pl-20 {
	padding-left:20px !important;
}
.pl-25 {
	padding-left:25px !important;
}
.pl-30 {
	padding-left:30px !important;
}
.pl-35 {
	padding-left:35px !important;
}
.pl-40 {
	padding-left:40px !important;
}
.pl-45 {
	padding-left:45px !important;
}
.pl-50 {
	padding-left:50px !important;
}
.pl-60 {
	padding-left:60px !important;
}
.pl-70 {
	padding-left:70px !important;
}
.pl-80 {
	padding-left:80px !important;
}
.pl-90 {
	padding-left:90px !important;
}
.pl-100 {
	padding-left:100px !important;
}
.pr-0 {
	padding-right:0px !important;	
}
.pr-1 {
	padding-right:1px !important;
}
.pr-2 {
	padding-right:2px !important;
}
.pr-3 {
	padding-right:3px !important;
}
.pr-4 {
	padding-right:4px !important;
}
.pr-5 {
	padding-right:5px !important;
}
.pr-6 {
	padding-right:6px !important;
}
.pr-7 {
	padding-right:7px !important;
}
.pr-8 {
	padding-right:8px !important;
}
.pr-9 {
	padding-right:9px !important;
}
.pr-10 {
	padding-right:10px !important;
}
.pr-15 {
	padding-right:15px !important;
}
.pr-20 {
	padding-right:20px !important;
}
.pr-25 {
	padding-right:25px !important;
}
.pr-30 {
	padding-right:30px !important;
}
.pr-35 {
	padding-right:35px !important;
}
.pr-40 {
	padding-right:40px !important;
}
.pr-45 {
	padding-right:45px !important;
}
.pr-50 {
	padding-right:50px !important;
}
.pr-60 {
	padding-right:60px !important;
}
.pr-70 {
	padding-right:70px !important;
}
.pr-80 {
	padding-right:80px !important;
}
.pr-90 {
	padding-right:90px !important;
}
.pr-100 {
	padding-right:100px !important;
}
.pt-0 {
	padding-top:0px !important;
}
.pt-1 {
	padding-top:1px !important;
}
.pt-2 {
	padding-top:2px !important;
}
.pt-3 {
	padding-top:3px !important;
}
.pt-4 {
	padding-top:4px !important;
}
.pt-5 {
	padding-top:5px !important;
}
.pt-6 {
	padding-top:6px !important;
}
.pt-7 {
	padding-top:7px !important;
}
.pt-8 {
	padding-top:8px !important;
}
.pt-9 {
	padding-top:9px !important;
}
.pt-10 {
	padding-top:10px !important;
}
.pt-15 {
	padding-top:15px !important;
}
.pt-20 {
	padding-top:20px !important;
}
.pt-25 {
	padding-top:25px !important;
}
.pt-30 {
	padding-top:30px !important;
}
.pt-35 {
	padding-top:35px !important;
}
.pt-40 {
	padding-top:40px !important;
}
.pt-45 {
	padding-top:45px !important;
}
.pt-50 {
	padding-top:50px !important;
}
.pt-60 {
	padding-top:60px !important;
}
.pt-70 {
	padding-top:70px !important;
}
.pt-80 {
	padding-top:80px !important;
}
.pt-90 {
	padding-top:90px !important;
}
.pt-100 {
	padding-top:100px !important;
}
.pb-0 {
	padding-bottom:0px !important;	
}
.pb-1 {
	padding-bottom:1px !important;
}
.pb-2 {
	padding-bottom:2px !important;
}
.pb-3 {
	padding-bottom:3px !important;
}
.pb-4 {
	padding-bottom:4px !important;
}
.pb-5 {
	padding-bottom:5px !important;
}
.pb-6 {
	padding-bottom:6px !important;
}
.pb-7 {
	padding-bottom:7px !important;
}
.pb-8 {
	padding-bottom:8px !important;
}
.pb-9 {
	padding-bottom:9px !important;
}
.pb-10 {
	padding-bottom:10px !important;
}
.pb-15 {
	padding-bottom:15px !important;
}
.pb-20 {
	padding-bottom:20px !important;
}
.pb-25 {
	padding-bottom:25px !important;
}
.pb-30 {
	padding-bottom:30px !important;
}
.pb-35 {
	padding-bottom:35px !important;
}
.pb-40 {
	padding-bottom:40px !important;
}
.pb-45 {
	padding-bottom:45px !important;
}
.pb-50 {
	padding-bottom:50px !important;
}
.pb-60 {
	padding-bottom:60px !important;
}
.pb-70 {
	padding-bottom:70px !important;
}
.pb-80 {
	padding-bottom:80px !important;
}
.pb-90 {
	padding-bottom:90px !important;
}
.pb-100 {
	padding-bottom:100px !important;
}

/* border */
.border-none {
	border:none !important;
}

/* width / height */
.w-5per {
	width:5% !important;
}
.w-10per {
	width:10% !important;
}
.w-20per {
	width:20% !important;
}
.w-25per {
	width:25% !important;
}
.w-33per {
	width:33% !important;
}
.w-34per {
	width:34% !important;
}
.w-50per {
	width:50% !important;
}
.w-75per {
	width:75% !important;
}
.w-80per {
	width:80% !important;
}
.w-90per {
	width:90% !important;
}
.w-95per {
	width:95% !important;
}
.w-100per {
	width:100% !important;
}
.w-auto {
	width:auto !important;
}
.w-40 {
	width:40px !important;
}
.w-50 {
	width:50px !important;
}
.w-60 {
	width:60px !important;
}
.w-70 {
	width:70px !important;
}
.w-80 {
	width:80px !important;
}
.w-90 {
	width:90px !important;
}
.w-100 {
	width:100px !important;
}
.w-150 {
	width:150px !important;
}

.h-50per {
	height:50% !important;
}
.h-100per {
	height:100% !important;
}
.h-auto {
	height:auto !important;
}

/* ------------------------------------------------------------------------------------------------ */

/* common */
.transition-common {
    transition:all 0.3s ease;
}
.rounded-common {
	-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}
.row-block {
	position:relative; width:100%; margin-bottom:20px;
}
.row-block::before {
	content:''; display:table; clear:both;
}
.row-block::after {
	content:''; display:table; clear:both;
}
.col-1 {
    position:relative; width:100%; padding:0px 10px;
}
.col-2 {
    position:relative; float:left; width:50%; padding:0px 10px;
}
.col-31 {
    position:relative; float:left; width:33.3%; padding:0px 10px;
}
.col-32 {
    position:relative; float:left; width:66.7%; padding:0px 10px;  
}
.col-41 {
    position:relative; float:left; width:25%; padding:0px 10px;
}
.col-43 {
    position:relative; float:left; width:75%; padding:0px 10px;
}
.col-51 {
    position:relative; float:left; width:20%; padding:0px 10px;
}
.col-52 {
    position:relative; float:left; width:40%; padding:0px 10px;
}
.col-53 {
    position:relative; float:left; width:60%; padding:0px 10px;
}
.col-54 {
    position:relative; float:left; width:80%; padding:0px 10px;
}
.col-61 {
    position:relative; float:left; width:16.66%; padding:0px 10px;
}
.col-65 {
    position:relative; float:left; width:83.34%; padding:0px 10px;
}
.col-8 {
	position:relative; float:left; width:12.5%; padding:0px 10px;
}
.col-10 {
    position:relative; float:left; width:10%; padding:0px 10px;
}

.panelBox {
	position:relative; height:100%; border:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; box-shadow:0px 2px 2px 0px rgba(0,0,0,0.4); overflow:hidden;
}
.panelBox.borderTop-normal {
	border-top:1px solid #eee;
}
.panelBox::after {
	content:''; display:table; clear:both;
}
.panelBox .panel-title {
	position:relative; font-size:14px; line-height:1.5em; color:#fff; padding:10px 15px; background-color:#17507c;
}
.panelBox .panel-content {
	position:relative; padding:15px; background-color:rgba(0,11,25,0.3);
}
.panelBox.rowType {
	display:table; width:100%; border-top:1px solid #eee;
}
.panelBox.rowType .panel-title {
	display:table-cell; position:relative; width:15%; height:100%; border:none; border-right:1px solid #ddd;
}
.panelBox.rowType .panel-title .tit {
	position:absolute; width:50px; height:50px; top:0px; bottom:0px; left:0px; right:0px; margin:auto; background-color:orange;
}
.panelBox.rowType .panel-content {
	display:table-cell; position:relative; width:85%; height:200px;
}

/* forms */
.input-field {
	
}
.forms-input {
	font-family:inherit; height:34px; font-size:13px; line-height:1.25em; color:#555; padding-left:10px; border:1px solid #ccc; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}
.forms-input.small {
	height:28px; font-size:12px; line-height:1.25em;
}
.forms-input:hover {
	border-color:#aaa;
}
.forms-input:focus {
	border-color:#2489c5; outline:none;
}
.forms-textarea {
	font-family:inherit; font-size:13px; line-height:1.25em; color:#555; padding-left:10px; border:1px solid #ccc; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}

/* button */
.btn-area {
	position:relative; text-align:center; margin-top:20px;
}
.btn {
	font-family:inherit; font-size:12px; line-height:1.5em; color:#555; border:1px solid #ddd; background-color:#fff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; transition:all 0.3s ease;
}
.btn-small {
	font-size:11px; padding:8px 12px;
}
.btn-medium {
	font-size:13px; font-weight:bold; padding:8px 30px;
}
.btn-large {
	font-size:16px; font-weight:bold; padding:16px 20px;
}
.btn-bg {
	color:#fff; border:none;
}
.btn-bg-gray {
	background-color:#999;
}
.btn-bg-gray:hover {
	background-color:#777;
}
.btn-bg-darkgray {
	background-color:#555;
}
.btn-bg-darkgray:hover {
	background-color:#333;
}
.btn-bg-blue {
	background-color:#009df5;
}
.btn-bg-blue:hover {
	background-color:#0083cc;
}
.btn-bg-skyblue {
	background-color:#01b1ec;
}
.btn-bg-skyblue:hover {
	background-color:#0099cc;
}

.btn-border {
	border:1px solid #ccc;
}
.btn-border-gray {
	color:#555; border:1px solid #999;
}
.btn-border-gray:hover {
	border:1px solid #555;
}
.btn-border-red {
	color:#f41000; border:1px solid #999;
}
.btn-border-red:hover {
	border:1px solid #f41000;
}

/* table */
.tbl-col {
    position:relative;
}
.tbl-col thead {
    border-top:0px solid #999; border-bottom:0px solid #555; /*background-color:#555;*/
}
.tbl-col thead th {
    font-size:13px; line-height:1.5em; color:#fff; padding:10px 0px;
}
.tbl-col tbody tr {
    border-bottom:0px solid #ccc;
}
.tbl-col tbody tr:last-child {
    border-bottom:0px solid #555;
}
.tbl-col tbody tr:hover {
    background-color:rgba(255,255,255,0.1)
}
.tbl-col.cursor tbody tr:hover {
    cursor:pointer;
}
.tbl-col tbody td {
    font-size:12px; line-height:1.5em; color:#aaa; text-align:center; padding:10px 0px;
}


.tbl-col tbody td span{
    font-size:12px; line-height:1.5em; color:#df7c06; text-align:center; padding:10px 0px;
}
.tbl-col tbody td.ta-l {
    text-align:left; padding-left:10px;
}

.tbl-row {
	position:relative; border-top:1px solid #333 !important; border-bottom:1px solid #333 !important;;
}
.tbl-row th {
	color:#fff; text-align:left; padding:10px 0px; padding-left:20px; background-color:#555; border-bottom:1px solid #333; 
}
.tbl-row td {
	color:#aaa; text-align:left; padding:10px 0px; padding-left:10px; border-bottom:1px solid #333; 
}



/* paginate */
.paginate {
	position:relative; width:100%;	text-align:center; margin-top:20px;
}
.paginate::after {
	content:''; display:table; clear:both;
}
.paginate ul {
	position:relative; display:inline-block; vertical-align:middle;
}
.paginate ul li {
	float:left; margin-left:-1px; 
}
.paginate ul.page li:first-child a {
	-webkit-border-top-left-radius:2px; -moz-border-top-left-radius:2px; border-top-left-radius:2px; -webkit-border-bottom-left-radius:2px; -moz-border-bottom-left-radius:2px; border-bottom-left-radius:2px;
}
.paginate ul.page li:last-child  a {
	-webkit-border-top-right-radius:2px; -moz-border-top-right-radius:2px; border-top-right-radius:2px; -webkit-border-bottom-right-radius:2px; -moz-border-bottom-right-radius:2px; border-bottom-right-radius:2px;
}
.paginate a {
	display:block; height:30px; font-size:12px; line-height:30px; color:#999; letter-spacing:-1px; border:1px solid #e4e4e4; padding:0px 12px;
}
.paginate a:hover {
	text-decoration:none; color:#555; background-color:#f8f8f8;
}
.paginate .active a {
	position:relative; color:#121212; border:1px solid #777; background-color:#fff; cursor:default;
}
.paginate .btns a {
	width:30px; padding:0px;
}
.paginate .first a {
	background:url(../images/paginate_first_n.png) 50% 50% no-repeat; -webkit-border-top-left-radius:2px; -moz-border-top-left-radius:2px; border-top-left-radius:2px; -webkit-border-bottom-left-radius:2px; -moz-border-bottom-left-radius:2px; border-bottom-left-radius:2px;
}
.paginate .first a:hover {
	background:#f8f8f8 url(../images/paginate_first_o.png) 50% 50% no-repeat;
}
.paginate .prev a {
	background:url(../images/paginate_prev_n.png) 50% 50% no-repeat; -webkit-border-top-right-radius:2px; -moz-border-top-right-radius:2px; border-top-right-radius:2px; -webkit-border-bottom-right-radius:2px; -moz-border-bottom-right-radius:2px; border-bottom-right-radius:2px;
}
.paginate .prev a:hover {
	background:#f8f8f8 url(../images/paginate_prev_o.png) 50% 50% no-repeat;
}
.paginate .next a {
	background:url(../images/paginate_next_n.png) 50% 50% no-repeat; -webkit-border-top-left-radius:2px; -moz-border-top-left-radius:2px; border-top-left-radius:2px; -webkit-border-bottom-left-radius:2px; -moz-border-bottom-left-radius:2px; border-bottom-left-radius:2px;
}
.paginate .next a:hover {
	background:#f8f8f8 url(../images/paginate_next_o.png) 50% 50% no-repeat;
}
.paginate .last a {
	background:url(../images/paginate_last_n.png) 50% 50% no-repeat; -webkit-border-top-right-radius:2px; -moz-border-top-right-radius:2px; border-top-right-radius:2px; -webkit-border-bottom-right-radius:2px; -moz-border-bottom-right-radius:2px; border-bottom-right-radius:2px;
}
.paginate .last a:hover {
	background:#f8f8f8 url(../images/paginate_last_o.png) 50% 50% no-repeat;
}
.paginate .prev {
	margin-right:5px;
}
.paginate .next {
	margin-left:5px;
}

----------------------------------------------------------------------

