@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* wrap */
#wrap {
	position:relative; width:100%; height:1080px; background:#192631 url("../images/bg-dashboard.png") no-repeat;
}
#wrap::after {
	content:''; display:table; clear:both;
}

/* header */
#header {
	position:fixed; width:100%; top:0px; left:0px; z-index:900;
}
#header .nav-bar {
	position:relative; width:100%; height:50px; padding:0px 20px; background-color:#252a2e;
}
#header .nav-bar .logo {
	position:relative; float:left; width:200px; height:28px; font-size:16px; line-height:1.5em; color:#fff; margin-top:12px; background:url("../images/logo.png") 50% 50% no-repeat;
}
#header .nav-bar .lnb {
	position:relative; float:right;
}
#header .nav-bar .lnb .logout {
	position:relative; display:inline-block; font-size:12px; line-height:1.5em; color:#fff; margin-top:14px;
}
#header .nav-bar .lnb .logout::before {
	content:''; display:inline-block; width:26px; height:26px; vertical-align:middle; margin-right:10px; background:#fff url("../images/icon-account.png") 50% 50% no-repeat; -webkit-border-radius:13px; -moz-border-radius:13px; border-radius:13px;
}
#header .nav-bar .alarm {
	position:absolute; width:60px; height:20px; font-size:14px; line-height:1.5em; color:red; font-weight:bold; top:16px; right:120px;
}
#header .nav-bar .alarm i {
	font-size:18px; color:#ccc; padding-right:5px;
}

#header .nav-bar .gnb {
	position:absolute; width:450px; height:50px; top:0px; bottom:0px; right:150px; text-align:left; margin:auto;
}
#header .nav-bar .gnb .nav {
	position:relative; display:inline-block; height:100%;
}
#header .nav-bar .gnb .nav>li {
	position:relative; float:left; height:100%; padding:13px 15px 0px 15px; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li:hover {
	background-color:#3a3f43;
}
#header .nav-bar .gnb .nav>li.active {
	background-color:#0e1012;
}
#header .nav-bar .gnb .nav>li>a {
	position:relative; display:block; height:24px; font-size:13px; line-height:1.2em; color:#aaa; font-weight:bold; padding:4px 0px 0px 30px;
}
#header .nav-bar .gnb .nav>li:hover>a {
	color:#fff; text-decoration:none;
}
#header .nav-bar .gnb .nav>li.active>a {
	color:#fff;
}

#header .nav-bar .gnb .nav>li .home {
	background:url("../images/icon-gnb-home-n.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li:hover .home {
	background:url("../images/icon-gnb-home-s.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li.active .home {
	background:url("../images/icon-gnb-home-s.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li .dashboard {
	background:url("../images/icon-gnb-dashboard-n.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li:hover .dashboard {
	background:url("../images/icon-gnb-dashboard-s.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li.active .dashboard {
	background:url("../images/icon-gnb-dashboard-s.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li .policy {
	background:url("../images/icon-gnb-policy-n.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li:hover .policy {
	background:url("../images/icon-gnb-policy-s.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li.active .policy {
	background:url("../images/icon-gnb-policy-s.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li .log {
	background:url("../images/icon-gnb-log-n.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li:hover .log {
	background:url("../images/icon-gnb-log-s.png") 0% 50% no-repeat; transition:all 0.3s ease;
}
#header .nav-bar .gnb .nav>li.active .log {
	background:url("../images/icon-gnb-log-s.png") 0% 50% no-repeat; transition:all 0.3s ease;
}

#header .nav-bar .snb {
	position:absolute; display:none; width:300px; height:40px; text-align:center; bottom:-40px; left:0px; z-index:10;
}
#header .nav-bar .active .snb {
	display:block;
}
#header .nav-bar .snb li {
	position:relative; display:inline-block; padding:10px 20px;
}
#header .nav-bar .snb li a {
	font-size:13px; line-height:1.5em; color:#aaa;
}
#header .nav-bar .snb li a:hover {
	color:#ccc;
}
#header .nav-bar .snb li.active a {
	color:#fff;
}

#header .nav-bar .snav-dashboard {
	left:-90px;
}
#header .nav-bar .snav-policy {
	left:-85px;
}
#header .nav-bar .snav-log {
	left:-85px;
}

#header .snb-bar {
	position:relative; width:100%; height:40px; padding:0px 20px; background-color:#4c4f51;
}

/* content */
#container {
	position:relative; width:100%; height:1080px; background-size:cover;
}


#con01 {
	position:relative; width:81px; float:left; height:1080px;
}


#con_date{margin-top:53px; height:30px; text-align:center; color:#fff; font-size:18px;}

#con_time{height:30px; text-align:center; color:#fff; font-size:18px;}


#con02 {
	position:relative; width:724px; float:left; height:1080px; /*background:url("../images/con02_bg.png") no-repeat;*/
}

#con_city{margin-top:120px; height:30px; color:#c5d0d3; font-size:40px; margin-left:32px;}

#con_attention{margin-top:99px; height:30px; color:#02d2de; font-size:22px; font-weight:bold; margin-left:160px; width:50px; float:left;}

#con_expression{margin-top:73px; height:30px; color:#02d2de; font-size:22px; font-weight:bold; margin-left:187px; width:50px;}

#con_expression ul{padding:53px 0 0 3px;}

#con_expression ul li{
	float: left;
	font-weight: bold;
	height: 60px;
	border-left: 1px solid #fff;
	border-right: 1px solid #e3e3e3;
	width:60px;
	float:left;
	}



#con_map{margin-top:70px; height:700px; color:#02d2de; font-size:22px; font-weight:bold; margin-left:10px; width:700px; float:left;}


#con03{position:relative; width:1098px; float:right; height:1080px;}

#con03_1{margin-top:0px; height:600px; color:#fff; font-size:40px; width:1098px; float:left;}

#con03_2{margin-top:0px; height:480px; color:#fff; font-size:40px; width:1098px; float:left;}


#con03_s{margin-top:0px; height:600px; color:#fff; font-size:40px; width:458px; float:left;}

#con03_s2{margin-top:0px; height:600px; color:#fff; font-size:40px; width:640px; float:left;}

#con03_box{margin-top:0px; height:200px; color:#fff; font-size:40px; width:640px; float:left; margin-top:95px;}

#con03_box2{margin-top:0px; height:240px; color:#fff; font-size:40px; width:640px; float:left; margin-top:60px;}










#container::after {
	content:''; display:table; clear:both;
}
.content {
	position:relative; height:100%;
}

/* footer */
#footer {
	position:fixed; width:100%; height:40px; bottom:0px; left:0px; text-align:center; padding-top:10px; background-color:#000c1b; z-index:800;
}
#footer .context {
	font-size:11px; line-height:1.5em; color:#fff;
}

/* message box */
#message-block {
	position:absolute; width:300px; height:100px; right:10px; bottom:40px; z-index:500; overflow:hidden;
}
#message-block .message-box {
	position:absolute; width:100%; height:100%; top:100%; left:0px; padding:15px 20px; background-color:rgba(255,255,255,0.6); border-top-left-radius:4px; border-top-right-radius:4px;
}
#message-block .message-box p {
	font-size:14px; line-height:2em; color:#121212; font-weight:700;
}
#message-block .message-box p::before {
	content:'●'; display:inline-block; font-size:10px; color:#333; padding-right:6px; vertical-align:middle; margin-top:-2px;
}
#message-block .message-box.active {
	-webkit-animation:message 5s ease 1; animation:message 5s ease 1; z-index:10;
}
@-webkit-keyframes message {
    0% { top:100% }
	8% { top:0% }
	92% { top:0% }
	100% { top:100% }
}
@keyframes warning-7f {
    0% { top:100% }
	8% { top:0% }
	92% { top:0% }
	100% { top:100% }
}