@charset "utf-8";

@import url('reset.css');
@import url('common.css');

/* login */
html, body {
    width:100%; height:100%; font-family:'Nanum Gothic','MalgunGothic','돋움',sans-serif; font-size:12px; line-height:1.5em;
}
#login-wrap {
    position:relative; width:100%; height:100%;
}
