@charset "utf-8";

/* reset */
* {
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;   
}
body {
	font-family:'Lucida Sans Unicode','맑은 고딕','Malgun Gothic',Arial,'돋움',Dotum,sans-serif; font-size:1em; line-height:1.5em; color:#555; word-break:break-all;
}
html, body, div, span, img, iframe, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, pre, form, input, button, textarea, blockquote, abbr, address, em, fieldset, label, legend, select, table, caption, thead, tbody, tfoot, th, tr, td, header, footer, section, article, nav, aside, figure {
	margin:0px; padding:0px;
}
h1, h2, h3, h4, h5, h6, pre, address, figcaption, caption, em, code, samp, cite {
	font-size:1em; font-style:normal; font-weight:normal;
}
code, samp {
	font-family:inherit;
}
img {
	border:0; vertical-align:top;
}
iframe, table {
	border:none;
}
table {
	width:100%; table-layout:fixed; border-collapse:collapse; border-spacing:0px;
}
caption {
	display:none;
}
th {
	vertical-align:middle; text-align:center; font-weight:normal;
}
td {
	vertical-align:middle; text-align:center; font-weight:normal;
}
ul, ol, dl, li, dt, dd {
	list-style:none inside;
}
article, aside, footer, header, nav, section, figure, figcaption {
	display:block;
}
a, a:link, a:visited, a:hover, a:active {
	text-decoration:none;
}
