@CHARSET "EUC-KR";

/* CSS Document */
.login_rwapper {
	width: 100%;
	height: 776px;
	background: #b3e1b6;
	
}

.login_rwap {
	width: 100%;
	height: 100%;
	background: url(../../image/login/bg_login.gif) top left repeat-x;
	font-family: 'Dotum', sans-serif;
	font-size: 12px;
}

.login {
	width: 100%;
	height: 776px;
	background: url(../../image/login/bg_login.jpg) top center no-repeat;
	text-align: center;
	padding-top: 100px;
}

.loginh1 {
	width: 483px;
	height: 125px;
	background: url(../../image/login/logo_psm.png) top center no-repeat;
	text-indent: -9999px;
	margin: 0px auto;
}

.loginh2 {

	 width:410px;
	 height:62px;
	 background:url(../../image/login/title.png) 42px top no-repeat;
	 text-indent:-9999px;
}
.login_box {
	width: 432px;
	height: 423px;
	background: url(../../image/login/bg_loginform.png) top center no-repeat;
	padding-top: 40px;
	margin: 20px auto;
	text-align: left;
}

.login_form {
	clear: both;
	margin: 60px 35px 0;
}

.login_form p.user_sel {
	/*color: #c6c6c6;*/
	color: #666;
	margin-bottom: 14px;
}

.login_form input[type="radio"] {
	vertical-align: -2px;
}

.login_form input[type="text"], .login_form input[type="password"] {
	width: 16.5em;
	border: 0;
	outline-style: none;
	float: left;
	padding: 8px 10px 6px 30px;
	margin-bottom: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.login_form div {
	position: absolute;
	clear: both;
	float: left;
	width: 220px;
}

.login_form span {
	float: left;
	background: #fff;
	padding: 7px 10px 6px;
	margin-bottom: 5px;
}

.login_form input.login_id {
	background: url(../../image/login/icon_id.gif) 10px 50% no-repeat #ffffff;
}

.login_form input.login_pw {
	background: url(../../image/login/icon_pw.gif) 10px 50% no-repeat #ffffff;
}

.btn_login {
	position: relative;
	float: right;
	cursor: pointer;
}

.footer{
	margin-top:100px;
}

.footer span {
	margin-left:70px;
	font-size: 11px;
	color: #666;
	bottom: 0;
}

.footer span b {
	color: #497dc2;
}

.footer span.f_logo {
	margin-left:120px;
	width: 189px;
	height: 33px;
	text-indent: -9999px;
}

.footer span img.logoimg{
	padding-bottom:58px;
}