@charset "utf-8";

.col100 {
	width:99%;
	*width: 28%;
}

.chart_01 {
    float: left;
    display: block;
    background: #f7f7f7;
    padding: 1%;
    margin: 0.5%;
    height: 800px;
}

.chart_02 {
    float: left;
    display: block;
    background: #f7f7f7;
    padding: 1%;
    margin: 0.5%;
    height: 800px;
}
.chart_03 {
    float: left;
    display: block;
    background: #f7f7f7;
    padding: 1%;
    margin: 0.5%;
    height: 800px;
}
.chart_04 {
    float: left;
    display: block;
    background: #f7f7f7;
    padding: 1%;
    margin: 0.5%;
    height: 800px;
}
.chart_05 {
    float: left;
    display: block;
    background: #f7f7f7;
    padding: 1%;
    margin: 0.5%;
    height: 800px;
}
.chart_06 {
    float: left;
    display: block;
    background: #f7f7f7;
    padding: 1%;
    margin: 0.5%;
    height: 800px;
}
.chart_07 {
    float: left;
    display: block;
    background: #f7f7f7;
    padding: 1%;
    margin: 0.5%;
    height: 800px;
}
.chart_08 {
    float: left;
    display: block;
    background: #f7f7f7;
    padding: 1%;
    margin: 0.5%;
    height: 800px;
}

.dashboard {
    clear: both;
    float: left;
    width: 100%;
    height: auto;
    min-height: 837px;
    padding: 10px;
    background: #51565e;
}

.chart_area {
    float: left;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 100%;
    height: 92%;
    *height: 89%: ;
    background: #fff;
    border: 1px solid #ddd;

}

.chart_table table {
    width: 100%;
}

.chart_table {
    border: 1px solid #ddd;
}

* {
    color: #444;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.chart_table table th {
    background: #5fa9e2;
    height: 33px;
    vertical-align: middle;
    border-top: 1px solid #444;
    border-bottom: 2px solid #0072d6;
    color: #fff;
    font-size:20px;
}

.chart_table table tr td {
    border-bottom: 2px solid #dedede;
    height: 2.95em;
    vertical-align: middle;
    font-size:20px;
    font-weight:bold;
}





