@CHARSET "UTF-8";

@media (min-width:1770px){
.dashboard1, .dashboard2,  .topology {
	clear: both;
	float: left;
	width: 100%;
	height: auto;
	min-height: 829px;
	padding: 10px;
	background: #51565e;
}

.chart_01, .chart_02, .chart_03, .chart_04, .chart_05, .chart_06, .chart_07, .chart_08, .chart_nav {
	float: left;
	display: block;
	background: #f7f7f7;
	padding: 1%;
	margin: 0.5%;
	height: 250px;
}

.chart_area {
	float: left;
	text-align: center;
	vertical-align: middle;
	display: block;
	width: 100%;
	overflow: auto;
	height: 92%;
	*height: 89%;
	background: #fff;
	border: 1px solid #ddd;
	padding: 1%;
}

.chart_nav ul li a {
	float: left;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
}
}

@media (max-width:1690px){
.dashboard1, .dashboard2,  .topology {
	clear: both;
	float: left;
	width: 100%;
	height: auto;
	min-height: 629px;
	padding: 10px;
	background: #51565e;
}
.chart_01, .chart_02, .chart_03, .chart_04, .chart_05, .chart_06, .chart_07, .chart_08, .chart_nav {
	float: left;
	display: block;
	background: #f7f7f7;
	padding: 1%;
	margin: 0.5%;
	height: 210px;
}
.chart_area {
	float: left;
	text-align: center;
	vertical-align: middle;
	display: block;
	width: 100%;
	overflow: hidden;
	height: 92%;
	*height: 89%;
	background: #fff;
	border: 1px solid #ddd;
	padding: 1%;
}

.chart_nav ul li a {
	float: left;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	vertical-align: middle;
}
}

/* 차트 및 네비게이션 높이값 */
.col2_2 {
	width: 38%;
	*width: 34.333%;
	cursor: pointer;
}

.col3 {
	width: 33.333%;
	*width: 28%;
	cursor: pointer;
}

.col4 {
	width: 48.888%;
	*width: 28%;
	cursor: pointer;
}

.dashboard h2 {
	font-size: 13px;
	height: 8%;
	background: url(../../image/common/1dep_bullet.gif) left 2px no-repeat;
	padding-left: 14px;
}
.pointer_ds{
	cursor: pointer;
}


/* Navigation */
.chart_nav {
	float: left;
	display: block;
	background: #333;
	width: 21%; 
	.width: 17.5%;
	padding: 4px;
}

.chart_nav ul {
	float: left;
	width: 100%;
	height: 100%;
	border-radius: 15px 15px 0 0;
	border: 1px solid #222;
}

.chart_nav ul li {
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #000;
	border-top: 1px solid #666;
	text-align: center;
	vertical-align: middle;
}



.nav_all:hover {
	border: 2px solid #5fa9e2;
	background: #383b3f; /* Old browsers */
	background: -moz-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383b3f),
		color-stop(100%, #2c2e32)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #383b3f 0%, #2c2e32 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383b3f',
		endColorstr='#2c2e32', GradientType=0); /* IE6-9 */
}

.nav_all_selected {
	font-size: 14px;
	text-align: center;
	background: #383b3f; /* Old browsers */
	background: -moz-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fa9e2),
		color-stop(100%, #0072d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #5fa9e2 0%, #0072d6 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa9e2',
		endColorstr='#0072d6', GradientType=0); /* IE6-9 */
}

.nav_all_noSelected {
	background: #2c2e32; /* Old browsers */
	background: -moz-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2c2e32),
		color-stop(100%, #383b3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #2c2e32 1%, #383b3f 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2e32',
		endColorstr='#383b3f', GradientType=0); /* IE6-9 */
}

.nav_sys:hover {
	border: 2px solid #5fa9e2;
	background: #383b3f; /* Old browsers */
	background: -moz-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383b3f),
		color-stop(100%, #2c2e32)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #383b3f 0%, #2c2e32 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383b3f',
		endColorstr='#2c2e32', GradientType=0); /* IE6-9 */
}

.nav_sys_selected {
	font-size: 14px;
	text-align: center;
	background: #5fa9e2; /* Old browsers */
	background: -moz-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fa9e2),
		color-stop(100%, #0072d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #5fa9e2 0%, #0072d6 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa9e2',
		endColorstr='#0072d6', GradientType=0); /* IE6-9 */
}

.nav_sys_noSelected {
	background: #2c2e32; /* Old browsers */
	background: -moz-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2c2e32),
		color-stop(100%, #383b3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #2c2e32 1%, #383b3f 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2e32',
		endColorstr='#383b3f', GradientType=0); /* IE6-9 */
}

/* chart table */
.chart_table {
	border: 1px solid #ddd;
}

.chart_table table {
	width: 100%;
}

.chart_table table th {
	background: #5fa9e2;
	height: 27px;
	vertical-align: middle;
	/* padding: 8px 10px; */
	border-top: 1px solid #444;
	border-bottom: 2px solid #0072d6;
	color: #fff;
}

.chart_table table tr {
	
}

.chart_table table tr td {
	border-bottom: 1px solid #dedede;
	height: 1.95em;
	vertical-align: middle;
	/* padding: 8px 10px; */
}

/*대시보드 기간선택*/
#dash_date {
	width:50px;
}

#sel_date{
    float: right;
    margin-top: -20px;
    padding-bottom: 6px;
}

.dash_date2{
	left:auto;
	float:right;
}