@charset "utf-8";
/* CSS Document */

/* ============ Style =============== */
.left{ float:left;}
.right{ float:right;}
.center{ text-align:center;}
.none{ display:none;}
.wrapper{ min-width:1280px;}
.outline{ outline:2px solid #f00; }
.col2{ display:block; width:50%;}
input[type="text"], select{ float:left;}
input[type="radio"]{ vertical-align:-2px;}
.sim{ float:left; margin:8px 3px 0 2px;}
.btn{ display:block; float:left; margin-left:6px; padding:10px 28px; font-weight:bold;}
.small{ padding:6px 30px;}
.gray{ background:#b4b4b4; border-top:1px solid #e3e3e3; border-bottom:1px solid #6f6f6f; color:#333;}
.blue{ background:#3999f4; border-top:1px solid #6edbff; border-bottom:1px solid #144fdf; color:#fff;}
.n_p{ padding:0 !important;}
h1{} /*  */
h2{ font-size:22px; } /*  */
h3{ font-size:20px; }
#repw2{margin-top: -5px; margin-left: -7px;}
/* ============ Header =============== */
.header{ position:fixed; top:0; left:0; width:100%; height:58px; .height:55px; min-width:1280px; border-bottom:3px solid #3c9cf6; background:url(/images/common/bg_header.gif) top left repeat-x; z-index:1;}
.logo{ display:block; width:208px; height:21px; background:url(/images/common/logo.png) top center no-repeat; text-indent:-9999px; margin:16px 0; }
.lnb{ position:absolute; min-width:781px; margin:25px 0 0 210px; .margin-left:0px; border-left:1px solid #e3e3e3; border-right:1px solid #fff;}
.lnb ul li{ float:left; font-weight:bold; height:30px; border-left:1px solid #fff; border-right:1px solid #e3e3e3; }
.lnb ul li:hover{ background:url(/images/common/bg_lnb_hover.gif) center bottom no-repeat; }
.lnb ul li a{ padding:0px 24px 20px; }
.lnb ul li a:hover{ color:#3c9cf6;}
.gnb{ position:relative; margin:26px 6px 6px 0;}
.gnb span{ margin:5px 8px; width:100px; text-align:right;}
.limitd{margin:5px 8px; width:198px; text-align:right;}
.btn_4{ width:71px; height:22px; background:url(/images/common/bg_btn.gif) top left no-repeat; padding:6px 0px; font-size:11px; text-align:center;}

/* ============ Left =============== */
.left_area{ position:fixed; padding:0; margin:0; left:0; top:58px; width:210px; height:100%; background:#51565e; border-right:1px solid #000;}
.left_dep1{ margin:30px 20px; color:#fff;}
.snb ul{ border-top:1px solid #454950; border-bottom:1px solid #6b6f76;}
.snb ul li{ width:100%; height:36px; border-top:1px solid #6b6f76; border-bottom:1px solid #454950; background-image:url(/images/common_gun/snb_bullet.gif), url(/images/common/bg_snb.gif) ; background-repeat:no-repeat,repeat-x; background-position:10px 50%, top left; .background:url(/images/common/bg_snb.gif) top left repeat-x; background:url(/images/common/bg_snb.gif) top left repeat-x \0/IE8+9;}
.snb ul li:hover{ .width:202px; background-image:url(/images/common/snb_bullet_hover.gif), url(/images/common/bg_snb_hover.gif) ; background-repeat:no-repeat,repeat-x; background-position:94% 50%, top left; border-left:8px solid #51565e; .background:url(/images/common/bg_snb_hover.gif) top left repeat-x; background:url(/images/common/bg_snb_hover.gif) top left repeat-x \0/IE8+9;}
.snb ul li a{ display:block; height:36px; color:#fff; padding:12px 10px 10px 20px;}
.snb ul li a:hover{ color:#fff; font-weight:bold; padding:12px 10px 10px 12px;}

/* ============ Container =============== */
.container{ padding:0; margin:58px 0 0 210px;}

/* ============ Place =============== */
.place{ width:100%; background:#edf6ff; border-bottom:1px solid #d9e1e9; height:42px; .height:28px; padding:15px 0 0 15px;}
.place span{ margin:0 10px;}
.place span.dep1{ background:url(/images/common/1dep_bullet.gif) left 1px no-repeat; padding-left:12px;}
.place span.dep2{ font-weight:bold;} 

/* ============ Contents =============== */
.contents{ width:100%; height:auto; padding:1%;}
.page_name{ margin:50px 10px 20px; }

/* ============ option_area =============== */
.option_area{ width:100%; background:#eff1f3; border-top:3px solid #3c9cf6; border-bottom:1px solid #c2c2c2; } /*  2015-07-01  */
.option_area .optgroup{ float:left;padding:10px 30px 20px 30px;}
.option_area span{ float:left; width:100%; margin:1px 0;}
label{ clear:both; float:left; width:110px; padding-left:8px; line-height:270%;}
input[type="text"], input[type="password"], select{ width:20em; padding:0.5em; border:1px solid #e4e4e4;}
input[type="checkbox"]{ margin:0; padding:0; width:13px; height:13px; } /*  2015-07-01  */
input.calender{ width:9.4em; background:url(/images/common/calender.gif) 6px 50% no-repeat #fff; padding-left:28px; padding-top:0.6em; padding-bottom:0.6em;}
.option_btn{width:100%; padding:0; text-align:right; margin:10px 0 20px;}

/*  2015-07-01  */
.option_tab{ float:left; display:block; width:100%; height:19px; background-image:url(../images/common/bg_option-tab.gif); background-size:1px 19px; background-position:0 0; background-repeat:repeat-x;
text-align:center; vertical-align:middle;}
.option_tab > .close, .option_tab > .open{ margin:5px auto; width:67px; height:7px; text-indent:-9999px;}
.option_tab > .close{ background:url(../images/common/btn_close.gif) top left no-repeat;}
.option_tab > .open{ background:url(../images/common/btn_open.gif) top left no-repeat;}

/* ============ table =============== */
.btn_excel{ margin-bottom:-20px;} /*  2015-07-01  */

.table{ clear:both; width:100%; margin:30px 0; }
.table th{ background:#ebeef1; border-top:3px solid #727272; border-bottom:1px solid #c9c9c9; padding:12px 10px;}
.table tr{ border-bottom:1px solid #e5e5e5; }
.table tr td{ padding:12px 10px; text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; .border-bottom:1px solid #e5e5e5;}
tr.tr_gray{ background:#f8f8f8;}
tr:hover{ background:#e7ebef;}
tr td.t_left{ text-align:left; }

.page{ clear:both; width:100%; text-align:center; }
.page p{ display:table; margin:0 auto;}
.page span{ float:left; display:block;}
.page span a{ float:left; margin:0; padding:10px 12px; border-right:1px solid #cccccc; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; text-align:center;}
.page span a.arrow_l{ background:#f1f1f1; border-left:1px solid #cccccc; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; 
border-radius:8px 0 0 8px; -moz-border-radius:8px 0 0 8px; -webkit-border-radius:8px 0 0 8px; }
.page span a.arrow_r{ background:#f1f1f1; border-right:1px solid #cccccc; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; border-radius:0 8px 8px 0; -moz-border-radius:0 8px 8px 0; -webkit-border-radius:0 8px 8px 0; }
.page span strong a{ color:#f00;}

 /*  시스템관리 > 권한관리 테이블 요기임!! */
 
.table_td{ width:100%; border-top:3px solid #727272; margin:30px 0; }
.table_td tr{border-bottom:1px solid #e5e5e5;}
.table_td tr th{ width:15%; background:#ebeef1; padding:12px 0 12px 30px; text-align:left; .border-bottom:1px solid #e5e5e5;}
.table_td tr td{ width:30%; padding-left:14px; vertical-align:middle; .border-bottom:1px solid #e5e5e5;}
input.td_text{ padding:4px 10px;}

.time_td{ width:30%; border-top:3px solid #727272; margin:30px 0; }
.time_td tr{border-bottom:1px solid #e5e5e5;}
.time_td tr th{ width:15%; background:#ebeef1; padding:12px 0 12px 30px; text-align:left; .border-bottom:1px solid #e5e5e5;}
.time_td tr td{ width:30%; padding-left:14px; vertical-align:middle; .border-bottom:1px solid #e5e5e5;}



/* ============ 대시보드 =============== */
.container_dash{ margin-top:58px; width:100%; padding:1%;}

/* === tab === */
.tab_dash{ width:100%; margin:20px 0 0 0;}
.tab_dash span{ float:left;}
.tab_dash span.tab{ display:block; padding:12px 40px 8px 40px; background:#f1f1f1; border:1px solid #ddd; font-weight:bold;}
.tab_dash span.select{ background:#51565e; border:1px solid #51565e; border-top:2px solid #3c9cf6; color:#fff;}

/* === board === */
/* Layout */
.dashboard, .topology{ clear:both; float:left; width:100%; height:auto; min-height:820px; padding:10px; background:#51565e;}
.chart_01, .chart_02, .chart_03, .chart_04, .chart_05, .chart_06, .chart_07, .chart_08, .chart_nav{ 
float:left; display:block; background:#f7f7f7; padding:1%; margin:0.5%; height:300px;}/* 차트 및 네비게이션 높이값 */
.col2_2{ width:38%; *width:34.333%;}
.col3{ width:32.333%; *width:28%;}
.dashboard h2{ font-size:13px; height:8%; background:url(/images/common/1dep_bullet.gif) left 2px no-repeat; padding-left:14px;}
.chart_area{ float:left; text-align:center; vertical-align:middle; display:block; width:100%; overflow:auto; height:92%; *height:89%; background:#fff; border:1px solid #ddd; padding:1%;}

/* Navigation */
.chart_nav{  float:left; display:block; background:#333; width:21%; .width:17.5%; padding:4px;}
.chart_nav ul{ float:left; width:100%; height:100%; border-radius:15px 15px 0 0; border:1px solid #222; }
.chart_nav ul li{ display:block; width:100%;height:25%; border-bottom:1px solid #000; border-top:1px solid #666; vertical-align:middle;}
.chart_nav ul li a{ float:left; width:100%; color:#fff; font-weight:bold; padding:30px; }
.nav_01, .nav_02, .nav_03, .nav_04, .nav_05{
background: #2c2e32; /* Old browsers */
background: -moz-linear-gradient(top,  #2c2e32 1%, #383b3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2c2e32), color-stop(100%,#383b3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2c2e32 1%,#383b3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2c2e32 1%,#383b3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2c2e32 1%,#383b3f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2c2e32 1%,#383b3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2e32', endColorstr='#383b3f',GradientType=0 ); /* IE6-9 */
}
.nav_01:hover, .nav_02:hover, .nav_03:hover, .nav_04:hover, .nav_05:hover{
border:2px solid #5fa9e2; padding-left:10px;
background: #383b3f; /* Old browsers */
background: -moz-linear-gradient(top,  #383b3f 0%, #2c2e32 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383b3f), color-stop(100%,#2c2e32)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #383b3f 0%,#2c2e32 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #383b3f 0%,#2c2e32 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #383b3f 0%,#2c2e32 100%); /* IE10+ */
background: linear-gradient(to bottom,  #383b3f 0%,#2c2e32 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383b3f', endColorstr='#2c2e32',GradientType=0 ); /* IE6-9 */
}
.nav_all{
font-size:14px;
border-radius:15px 15px 0 0;
text-align:center;
background: #5fa9e2; /* Old browsers */
background: -moz-linear-gradient(top,  #5fa9e2 0%, #0072d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5fa9e2), color-stop(100%,#0072d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5fa9e2 0%,#0072d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa9e2', endColorstr='#0072d6',GradientType=0 ); /* IE6-9 */
}

/* chart table */
.chart_table{ border:1px solid #ddd;}
.chart_table table{width:100%;}
.chart_table table th{ background:#5fa9e2; padding:8px 10px; border-top:1px solid #444;  border-bottom:2px solid #0072d6; color:#fff;}
.chart_table table tr{}
.chart_table table tr td{ border-bottom:1px solid #dedede; padding:6px 10px;}


/* ============ 토폴로지 =============== */
.topology{}
.topology input[type="text"], .topology select { border:0; float:none; }
.topology input[type="text"]{ padding:4px 6px;width:10em;}
.topology input[type="checkbox"]{ float:left; margin-top:7px; .margin-top:0;}
.topology select{padding:3px 4px; width:4em;}
.option_tp{ margin-top:10px; padding:8px 10px; border:1px solid #ddd; vertical-align:middle; height:auto;}
.option_tp span{ float:left; color:#ddd; vertical-align:middle; margin-right:10px; background:url(/images/common_gun/snb_bullet.gif) left 50% no-repeat; padding-left:8px;}
.option_tp span i{ float:left; color:#ddd; font-style:normal; margin-top:7px;}


/* ============ 팝업 =============== */
.popup_wrap{ width:850px; height:500px; border:2px solid #000; background:#f1f3f5;}
.popup_wrap h2 strong{ color:#f00;}
.popup_wrap2{ width:450px; height:400px; border:2px solid #000; background:#f1f3f5;}
.popup_wrap2 h2 strong{ color:#f00;}
.top_line{ width:100%; height:34px;
border-bottom:2px solid #276edb; border-top:1px solid #69c8fa;
background: #5fa9e2; /* Old browsers */
background: -moz-linear-gradient(top,  #5fa9e2 0%, #0072d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5fa9e2), color-stop(100%,#0072d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5fa9e2 0%,#0072d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa9e2', endColorstr='#0072d6',GradientType=0 ); /* IE6-9 */
}
.popup_wrap h1{ color:#fff; margin:10px;}
.popup_wrap h2{ font-size:13px; background:url(../images/common/1dep_bullet.gif) left 2px no-repeat; padding-left:14px; height:20px;}
.popup_wrap2 h1{ color:#fff; margin:10px;}
.popup_wrap2 h2{ font-size:13px; background:url(../images/common/1dep_bullet.gif) left 2px no-repeat; padding-left:14px; height:20px;}

.btn_close{ text-indent:-9999px; margin:8px;}
.btn_close a{ display:block; width:15px; height:15px;}

.popup_area{ float:left; display:block; width:99%; .width:96%; padding:2%; height:430px;}
.pop_col2{ width:48.5%; display:}

.pop_con{ position:relative; overflow:hidden; width:100%; height:410px; background:#fff; border:1px solid #c9c9c9;}
.b_line{ border-top:3px solid #5fa9e2;}
.g_line{ border-top:3px solid #727272;}

.pop_con table { width: 100%;}
.pop_table thead{ height:34px; width:100%; background:#ebeef1; border-bottom:1px solid #666;}
.pop_table thead th{ padding:10px 4px; text-align:center;} 
.pop_table tbody tr{ width:100%;}
.pop_table tbody tr td{ padding:8px 4px; border-bottom:1px solid #dedede; border-right:1px solid #dedede; text-align:center;}
.scroll { max-height: 373px; overflow: auto;}

 
.poptable_td th{ float:left; width:40%; background:#f8f8f8; padding:12px; border-bottom:1px solid #e5e5e5; border-right:1px solid #dedede; text-align:left; vertical-align:middle;}
.poptable_td th:before{ content:"· ";}
.poptable_td td{ float:left; width:60%; padding:12px; border-bottom:1px solid #e5e5e5;}
.poptable_td tr.callurl th{ padding:30px 12px;}
.poptable_td tr.callurl td{ display:block; word-break:break-all; white-space:pre-wrap; overflow:auto; height:73px;}

/* 비밀번호변경 팝업 */
.con_repw{ line-height:140%; height:350px; *height:300px;}
.repw-h2{ background:none !important; margin:10px 0 30px 0;}
.repw-text{ margin:0 0 20px 14px;}
.repw-call{ display:block; border-top:1px solid #bebebe; padding-top: 14px; bottom:0; margin-top:150px;}
.repw-date{ display:block; border-top:1px solid #bebebe; padding-top: 14px; bottom:0; margin-top:40px;}
.con_repw label{ font-weight:bold;}
.con_repw input{ margin-bottom:10px; width:100%; *width:96%;}
.con_repw p.f11{ font-size:11px; line-height:130%;}
.con_repw p a{ color:#5fa9e2;}
.con_repw > .btn{ margin:10px;}
.table_repw{ width:100%; *width:90.4%; background:#efefef; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; padding:18px 18px 24px 18px; }
.table_repw a.btn{ margin-top:18px;}
.con_repw p.recoment{ margin-top:-6px;}
.btn_repw .gray{ background:#d8d8d8; border-top:1px solid #fff; border-bottom:1px solid #aeaeae;  padding:10px 34px; margin-left:0;}
.btn_repw .blue{ margin-left:10px; padding:10px 34px; * padding:10px 28px;}