@charset "utf-8";
/* CSS Document */

/* ============ Style =============== */
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}
.fontw{
	font-weight:bold;
}

.none {
	display: none;
}

.wrapper {
	min-width: 1280px;
}

.outline {
	outline: 2px solid #f00;
}

.mjpoint{
	text-decoration: underline;
	cursor: pointer;
}

.col2 {
	display: block;
	width: 50%;
}

.col10{ /*display:block;*/ width:100%;}

.col20{ /*display:block;*/ width:200%;}

input, select {
	float: left;
}

.sim {
	float: left;
	margin: 8px 3px 0 2px;
}

.btn {
	display: block;
	float: left;
	margin-left: 6px;
	padding: 10px 28px;
	font-weight: bold;
	color: #fff;
}

.btn2{ display:block; float:left; margin-left:6px; padding:6px 16px; font-weight:bold;}

.btn3{ font-weight:bold; padding:3px 8px;}
.btn4{ display:block; float:left; margin-left:6px; padding:6px 16px; font-weight:bold; color:#fff;}



.btnSummary {
	display: block;
	float: left;
	margin-left: 6px;
	padding: 10px 22px;
	font-weight: bold;
	color: #fff;
}

.btn:hover {
	color: #000000;
}

.list_btn {
	display: block;
	padding: 3px 2px;
	margin: 0;
	font-weight: bold; 
	color: #fff;
}

.desc_btn{
	cursor: pointer;
}

.list_btn:hover {
	color: #000000;
}

.gray {
	background: #b4b4b4;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #6f6f6f;
}

.gray2 {
	background: #dee0e2;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #6f6f6f;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #e3e3e3;
	/*border:1px solid #c9c9c9;*/
}

.gray3 {
	background: #999595;
	border-top: 1px solid #999595;
	border-bottom: 1px solid #6f6f6f;
	border-right:1px solid #999595;
	border-left:1px solid #999595;
	/*border:1px solid #c9c9c9;*/
}

.blue {
	background: #3999f4;
	border-top: 1px solid #6edbff;
	border-bottom: 1px solid #144fdf;
}

.light_green {
	background: #72bb88;
	border-top: 1px solid #e6faed;
	border-bottom: 1px solid #3f7650;
}

.green{ background:#56b980; /*border-top:1px solid #7dd08f;*/ border:1px solid #379876; color:#fff;}
.orange{ background:#e78e5e; /*border-top:1px solid #7dd08f;*/ border:1px solid #e78e5e; color:#fff;}


.excel {
	background: #458f5b;
	border-top: 1px solid #6edbff;
	border-bottom: 1px solid #4bba80;
}

h1 {
	
}
/*  */
h2 {
	font-size: 22px;
}
/*  */
h3 {
	font-size: 20px;
}

.s_title {
	font-size: 15px; 
	margin: 0 10px 10px;
	float:left;
}

.s_title2 {
	float:left;
	font-size: 15px; 
	margin: 50px 10px 10px 10px;
}
.s_title3 {
	float:left;
	font-size: 15px; 
	margin: 50px 10px 0px 10px;
}


.s_title4 {
	float:left;
	font-size: 15px; 
	margin: 36px 10px 0px 10px;
	border:0px solid #000;
	width:800px;
}


/* ============ Header =============== */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 58px;
	.height: 55px;
	min-width: 1280px;
	border-bottom: 3px solid #67a67c;
	background: url(../../image/common/bg_header.gif) top left repeat-x;
	z-index: 1;
}

.logo {
	display: block;
	width: 208px;
	height: 33px;
	background: url(../../image/common/logo.png) top center no-repeat;
	text-indent: -9999px;
	margin: 16px 0;
	cursor: pointer;
}

/* left 메뉴 하단 로고  */
.botlogo{
	position:fixed;
	margin-left:21px;
	margin-top:8px;
}
.botlogo2{
	position:fixed;
	margin-top:37px;
	background: url(../../image/common/left_bottom_bg.png) top left repeat-x;
	width:210px;
	height:50px;
}

/*대시보드 토폴로지 오른쪽 로고  */
.dashlogo{
	float:right;
	margin-right:10px;
}

.lnb {
	position: absolute;
	min-width: 653px;
	margin: 25px 0 0 210px;
	.margin-left:0px;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #fff;
}

.lnb ul {
	
}
.lnb ul li {
	float: left;
	font-weight: bold;
	height: 30px;
	border-left: 1px solid #fff;
	border-right: 1px solid #e3e3e3;
}


/* 
.lnb ul li:hover {
	background: url(../../image/common/bg_lnb_hover.gif) center bottom no-repeat; 
}
*/

.lnb ul li a {
	padding: 0 24px 5px;
}

.lnb ul li a:hover {
	color: #20753c;
}

@media screen and (max-width:1348px){
.lnb {
	position: absolute;
	min-width: 760px;
	margin: 36px 0 0 210px;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #fff;
}
.lnb ul li {
	float: left;
	font-weight: bold;
	height: 19px;
	border-left: 1px solid #fff;
	border-right: 1px solid #e3e3e3;
}
.lnb ul li a {
	padding: 0 15px;
}
}



.gnb {
	position: relative;
	margin: 26px 6px 6px 0;
}

.gnb span {
	margin: 5px 8px;
	width: 160px;
	text-align: right;
}

@media screen and (max-width:1348px){
.gnb {
	position: relative;
	margin: 5px 5px 0 0;
}
}

.btn_4 {
	width: 71px;
	height: 22px;
	background: url(../../image/common/bg_btn.gif) top left no-repeat;
	padding: 6px 0px;
	font-size: 11px;
	text-align: center;
}

#mainMenus .selected {
	color: #20753c;
	font-weight: bold;
}

#mainMenus .selected_li {
	background: url(../../image/common/bg_lnb_hover.gif) center bottom no-repeat;
}


/* ============ Left =============== */
.left_area {
	position: fixed;
	padding: 0;
	margin: 0;
	left: 0;
	top: 58px;
	width: 210px;
	height: 100%;
	/*background: #aedaaa;*/
	background: url(../../image/common/lnbbg.png) top left repeat-x;
	border-right: 1px solid #eee;
}

.left_dep1 {
	margin: 30px 20px;
	color: #333;
	text-align: center;
	font-size: 22px;
}

.snb ul {
	border-top: 0px solid #454950;
	border-bottom: 0px solid #6b6f76;
}

.snb ul li {
	width: 100%;
	height: 35px;
	border-top: 0px solid #6b6f76;
	border-bottom: 0px solid #454950;
	background-image: url(../../image/common/snb_bullet.gif), url(../../image/common/bg_snb.gif);
	background-repeat: no-repeat, repeat-x;
	background-position: 10px 50%, top left; 
	.background: url(../../image/common/bg_snb.gif) top left repeat-x;
	background: url(../../image/common/bg_snb.gif) top left repeat-x \0/IE8 +9;
}

.snb ul li:last-child {
	height: 34px;
}

.snb ul li a {
	display: block;
	height: 36px;
	color: #fff;
	padding: 12px 10px 10px 20px;
}

.snb ul li a:hover {
	color: #fff;
	font-weight: bold;
	padding: 12px 10px 10px 12px;
}



.snb ul li a.left_menu_select_a {
	color: #fff;
	font-weight: bold;
	padding: 12px 10px 10px 12px;
}













.snb ul li:hover { 
	.width: 202px;
	background-image: url(../../image/common/snb_bullet_hover.gif),	url(../../image/common/bg_snb_hover.gif);
	background-repeat: no-repeat, repeat-x;
	background-position: 94% 50%, top left;
	/* border-left: 8px solid #609ccf;  */
	.background: url(../../image/common/bg_snb_hover.gif) top left repeat-x;
	background: url(../../image/common/bg_snb_hover.gif) top left repeat-x \0/IE8 +9;
}



.snb ul li.left_menu_select_li {
	.width: 202px;
	background-image: url(../../image/common/snb_bullet_hover.gif),	url(../../image/common/bg_snb_hover.gif);
	background-repeat: no-repeat, repeat-x;
	background-position: 94% 50%, top left;
	/* border-left: 8px solid #609ccf;  */
	.background: url(../../image/common/bg_snb_hover.gif) top left repeat-x;
	background: url(../../image/common/bg_snb_hover.gif) top left repeat-x \0/IE8 +9;
}



/* 추가부분 */
.snb2 ul{border-top:0px solid #000; border-bottom:0px solid #000; font-size:11px;}
.snb2 ul li{ width:100%; height:34px; border-top:1px dotted #eee; border-bottom:0px solid #5e656f; background-image:url(../../image/common/snb_bullet2.png), url(../../image/common/bg_snb2.gif) ; background-repeat:no-repeat,repeat-x; background-position:10px 50%, top left; 

.background:url(../../image/common/bg_snb2.gif) top left repeat-x; background:url(../../image/common/bg_snb2.gif) top left repeat-x \0/IE8+9;*/}
.snb2 ul li:hover{ .width:202px; background-image:url(../../image/common/snb_bullet_hover.gif), url(../../image/common/bg_snb_hover.gif) ; background-repeat:no-repeat,repeat-x; background-position:94% 50%, top left; /* border-left:8px solid #609ccf; */ .background:url

(../../image/common/bg_snb_hover.gif) top left repeat-x; background:url(../../image/common/bg_snb_hover.gif) top left repeat-x \0/IE8+9;*/}
.snb2 ul li a{display:block; height:34px; color:#fff; padding:12px 10px 10px 30px;}
.snb2 ul li a:hover{color:#fff; font-weight:bold; padding:12px 10px 10px 12px;}












@media screen and (max-height:721px){



.snb ul li a.left_menu_select_a {
	color: #fff;
	font-weight: bold;
	padding: 12px 10px 10px 20px;
}
.snb2 ul li{ width:100%; height:auto; border-top:1px solid #848b95; border-bottom:1px solid #5e656f; background-image:url(../../image/common/snb_bullet2.png), url(../../image/common/bg_snb2.gif) ; background-repeat:no-repeat,repeat-x; background-position:10px 50%, top left; .background:url(../../image/common/bg_snb2.gif) top left repeat-x; background:url(../../image/common/bg_snb2.gif) top left repeat-x \0/IE8+9;*/}

.snb2 ul li a{display:block; height:auto; color:#fff; padding:7px 10px 7px 20px;}
.snb2 ul li a:hover{color:#fff; font-weight:bold; padding:7px 10px 7px 20px;}
}


/* ============ Container =============== */
.container {
	padding: 0;
	margin: 20px 0 0 210px;
}


/* ============ Place =============== */
.place {
	clear:both; /*width:25%;*/ margin-right:8px; background:#fff; /*border-bottom:1px solid #d9e1e9;*/ /*height:42px;*/ .height:28px; /*margin:50px 0 0 15px;*/ margin-top:50px;  float:right;
}

.place span {
	margin: 0 7px;
}

.place span.dep1 {
	background: url(../../image/common/1dep_bullet.gif) 1px 2px no-repeat;
	padding-left: 12px;
}

.place span.dep2 {
	font-weight: bold;
}

.place span.dep2_off {
	font-weight: normal;
}


.place span.dep3 {
	font-weight: bold;
}

/* ============ Contents =============== */
.contents {
	width: 100%;
	height: auto;
	padding: 1%;
}

.page_name {
	margin: 0px 10px 20px;
	font-size: 22px;
}


/* ============ option_area =============== */
.option_area {
	float:left;
	width: 100%;
	background: #eff1f3;
	border-top: 3px solid #67a67c;
	border-bottom: 1px solid #c2c2c2;
}

.option_area4 {
	width: 100%;
	background: #eff1f3;
	border-top: 3px solid #3c9cf6;
	
}

.option_area4 .optgroup {
	width: 100%;
	float: left;
	padding: 10px 30px 20px 30px;
}

.option_area5 {
	width: 100%;
	background: #eff1f3;
	border-bottom: 1px solid #c2c2c2;
	
}

.option_area5 .optgroup {
	width: 100%;
	float: left;
	padding: 10px 30px 20px 30px;
}



.option_area6 {
	width: 100%;
	background: #fff;
	border-bottom: 0px solid #c2c2c2;
	
}

.option_area6 .optgroup {
	width: 100%;
	float: left;
	padding: 10px 30px 20px 30px;
}

.option_area3 {
	width: 30%;
	background: #eff1f3;
	border-top: 3px solid #3c9cf6;
	border-bottom: 1px solid #c2c2c2;
	margin-right:10px;
}

.option_area .optgroup {
	width: 100%;
	float: left;
	padding: 10px 30px 20px 30px;
}

.option_btn {
	width: 100%;
	padding: 0;
	text-align: right;
	margin: 10px 0 0 0;
}

.option_area2 {
	width: 69%;
	background: #ebeef1;
	border-top: 3px solid #727272;
	border-bottom: 1px solid #c2c2c2;
}


.option_area2 .optgroup {
	width: 100%;
	float: left;
	padding: 10px 30px 20px 30px;
}


.option_area2 .table2{
	width: 65%;
	background: #eff1f3;
	border-top: 3px solid #3c9cf6;
	border-bottom: 1px solid #c2c2c2;
	border:10px solid #000;
}


.option_area2 .optgroup {
	width: 50%;
	float: left;
	padding: 10px 30px 20px 30px;
}

.option_sarea{/*width:100%;*/ padding:0; text-align:right; margin:30px 0 0px; float:right;}

.option_sarea2{/*width:100%;*/ padding:0; text-align:right; margin:-10px 0 0px; float:right;}


.option_sarea3{/*width:100%;*/ padding:0; text-align:right; margin:0px 0 0px; float:right;} /*정보공유방 부분*/

.sbox{width:5em; padding:0.25em; border:1px solid #e4e4e4; float:right; margin-left:5px; margin-right:5px;}



.option_area10 .optgroup {
	width: 100%;
	float: left;
	padding: 10px 30px 20px 30px;
}

#ipDetailForm table td input[type='text'] {
	float:none;
	font-weight:bold;
	width: 13em; 
	border: 1px solid;
}
#ipDetailDiv{
	display: inline;
}

#ipDetailDiv font {
	font-weight: bold;
	font-size:13px;
}

#ipDetailForm2 table td input[type='text'] {
	float:none;
	font-weight:bold;
	width: 13em; 
	border: 1px solid;
}

#ipDetailDiv2 font {
	font-weight: bold;
	font-size:13px;
}

#ipDetailDiv2{
	display: none;
	width: 70%;
}

.option_tab {
	float: left;
	display: block;
	width: 100%;
	height: 19px;
	background-image: url(../../image/common/bg_option-tab.gif);
	background-size: 1px 19px;
	background-position: 0 0;
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

/* 시스템관리 */

#systemDetailForm table td input[type='text'] {
	float:none;
	font-weight:bold;
	width: 13em; 
	border: 1px solid;
}
#systemDetailDiv{
	display: inline;
	width: 70%;
}

#systemDetailDiv font {
	font-weight: bold;
	font-size:13px;
}

#systemDetailForm2 table td input[type='text'] {
	float:none;
	font-weight:bold;
	width: 13em; 
	border: 1px solid;
}

#systemDetailDiv2 font {
	font-weight: bold;
	font-size:13px;
}

#systemDetailDiv2{
	display: none;
	width: 70%;
}

.option_tab {
	float: left;
	display: block;
	width: 100%;
	height: 19px;
	background-image: url(../../image/common/bg_option-tab.gif);
	background-size: 1px 19px;
	background-position: 0 0;
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.option_tab > .close, .option_tab > .open {
	margin: 5px auto;
	width: 67px;
	height: 7px;
	text-indent: -9999px;
}

.option_tab > .close {
	background: url(../../image/common/btn_close.gif) top left no-repeat;
}

.option_tab > .open {
	background: url(../../image/common/btn_open.gif) top left no-repeat;
}

.option_area span {
	float: left;
	width: 100%;
	margin: 1px 0;
}

#labelDiv {
	width: 100%;
	margin: 40px 0;
}

.detail_option {
	float: left;
	font-weight: bold;
	margin-top: 25px;
}

label {
	clear: both;
	float: left;
	width: 95px;
	background: url(../../image/common/option_bullet.gif) left 45% no-repeat;
	line-height: 195%;
}

label .et {
	clear: both;
	float: left;
	width: 95px;
	line-height: 195%;
}

label.no_img_label {
	clear: both;
	float: none;
	background: none;
}

.selbox{
	float:right;
	margin-right:40px;
}

label.radio_label {
	float: none;
	background: none;
}

label.action_label {
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	color: #333;
	background: none;
}

label span.option_name {
	margin-left : 10px;
}

input[type="text"], input[type="password"], select {
	width: 17em;
	padding:0.3em 0.5em;
	border: 1px solid #e4e4e4;
}

input[type="image"], input[type="radio"] {
	float: none;
}

input[type="checkbox"]{
	margin:1px 0 0 0; 
	padding:0;
	width:13px;
	height:13px;
}

input.deptFlagChk {
	margin-top: 3px;
	margin-left: 10px;
}

input.auth_checkbox {
	float: none;
	padding: 0;
}

input.calender {
	width: 7.9em;
	background: url(../../image/common/calender.gif) 6px 50% no-repeat #fff;
	padding-left: 28px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.btn_excel {
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: -20px;
	margin-left:15px;
}
.btn_history {
	cursor: pointer;
	margin-top: 10px;
	margin-right:10px;
	height:28.px;
}

.btn_record {
	cursor: pointer;
	margin-top: 10px;
	margin-right:10px;
	height:28px;
}

.new_bt {
	margin-top: 10px;
	margin-bottom: -20px;	
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	width: 70px;
	padding: 0 !important;
} 

textarea {
	margin: 3px;
	border: 1px solid #e4e4e4;
}

/* ============ List table =============== */

.table {
	clear: both;
	width: 100%;
	margin: 30px 0;
}

.table.recordReport input {
	float:none !important;
}

.table th {
	background: #ebeef1;
	border-top: 3px solid #727272;
	border-bottom: 1px solid #c9c9c9;
	padding: 12px 10px;
}

.table th.tm {border-top: 1px solid #727272;}

.table th.tm2 {border-top: 1px solid #c9c9c9; border-right: 1px solid #c9c9c9;}
.table th.tm3 {border-right: 1px solid #c9c9c9;}
.tm_r{border-right: 1px solid #c9c9c9;}

.table tr {
	border-bottom: 1px solid #e5e5e5;
}

.table tr.agentTr td {
	height: 30px;
	vertical-align: middle;
}

.table tr td {
	padding: 12px 10px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
	.border-bottom: 1px solid #e5e5e5;
}

.table tr td.underlineTd { 
	cursor: pointer; 
	text-decoration: underline; 
}

.table tr td.codeTd {
	padding: 16px 10px;
}

.table tr.tr_gray {
	background: #f8f8f8;
}

.table tr:hover {
	background: #e7ebef;
}

.table.notHover tr:hover {
	background: #fff;
}

.table tr td.t_left {
	text-align: left;
}


/* ============ Detail table =============== */
.table2 {
	/*clear: both;*/
	width: 50%;
	margin: 30px 0;
	float:left;
}
.table2 th {
	background: #ebeef1;
	border-top: 3px solid #727272;
	border-bottom: 1px solid #c9c9c9;
	padding: 12px 10px;
}

.table2 tr {
	border-bottom: 1px solid #e5e5e5;
}

.table2 tr.agentTr td {
	height: 30px;
	vertical-align: middle;
}

.table2 tr td {
	padding: 12px 10px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
	.border-bottom: 1px solid #e5e5e5;
}

.table2 tr td.underlineTd { 
	cursor: pointer; 
	text-decoration: underline; 
}

.table2 tr td.codeTd {
	padding: 16px 10px;
}

.table2 tr.tr_gray {
	background: #f8f8f8;
}

.table2 tr:hover {
	background: #e7ebef;
}

.table2 tr td.t_left {
	text-align: left;
}


.table_td {
	width: 100%;
	border-top: 3px solid #727272;
	margin-top: 30px;
	margin-bottom: 10px;
}

.table_td tr {
	border-bottom: 1px solid #e5e5e5;
}

.table_td tr th {
	width: 15%;
	background: #ebeef1;
	padding: 12px 0 12px 30px;
	text-align: left; 
	.border-bottom: 1px solid #e5e5e5;
}

.table_td tr td {
	width: 30%;
	padding-left: 14px;
	vertical-align: middle; 
	.border-bottom: 1px solid #e5e5e5;
	word-break: break-all;
}

.table_td tr td.displayTd {
	font-weight: bold;
}

.time_td {
	width: 30%;
	border-top: 3px solid #727272;
	margin-top: 30px;
	margin-bottom: 10px;
}

.time_td tr {
	border-bottom: 1px solid #e5e5e5;
}

.time_td tr th {
	width: 15%;
	background: #ebeef1;
	padding: 12px 0 12px 30px;
	text-align: left; 
	.border-bottom: 1px solid #e5e5e5;
}

.time_td tr td {
	width: 30%;
	padding-left: 14px;
	vertical-align: middle; 
	.border-bottom: 1px solid #e5e5e5;
	word-break: break-all;
}

.time_td tr td.displayTd {
	font-weight: bold;
}


input.td_text {
	padding: 4px 10px;
}


/* ============ paging =============== */
.page {
	clear: both;
	width: 100%;
	text-align: center;
}

.page p {
	display: table;
	margin: 0 auto;
	padding: 10px 0;
}

.page span a.arrow_l {
	background: #f1f1f1;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
}

.page span a.arrow_l2 {
	background: rgb(241, 241, 241); 
	border-top-color: rgb(204, 204, 204); 
	border-bottom-color: rgb(204, 204, 204); 
	border-top-width: 1px; 
	border-bottom-width: 1px; 
	border-top-style: solid; 
	border-bottom-style: solid;
}

.page span a.arrow_r {
	background: #f1f1f1;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
}

.page span a.arrow_r2 {
	background: rgb(241, 241, 241); 
	border-top-color: rgb(204, 204, 204); 
	border-bottom-color: rgb(204, 204, 204); 
	border-top-width: 1px; 
	border-bottom-width: 1px; 
	border-top-style: solid; 
	border-bottom-style: solid;
}

.page span a.arrow_l:hover, .page span a.arrow_l2:hover, .page span a.arrow_r:hover, .page span a.arrow_r2:hover {
	background: #adadad;
}

.page span a {
	float: left;
	margin: 0;
	padding: 10px 12px;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	text-align: center;
}

.page span strong a {
	color: #f00;
}

/* ============ 대시보드 =============== */
.container_dash {
	margin-top: 38px;
	width: 100%;
	padding: 1%;
}

/* === tab === */
.tab_dash {
	width: 100%;
	margin: 20px 0 0 0;
}

.tab_dash span {
	float: left;
}

.tab_dash span.tab {
	display: block;
	padding: 12px 40px 8px 40px;
	background: #f1f1f1;
	border: 1px solid #ddd;
	font-weight: bold;
}

.tab_dash span.select {
	background: #51565e;
	border: 1px solid #51565e;
	border-top: 2px solid #3c9cf6;
	color: #fff;
}

/* === board === */
/* Layout */

@media (min-width:1770px){
.dashboard, .topology {
	clear: both;
	float: left;
	width: 100%;
	height: auto;
	min-height: 829px;
	padding: 10px;
	background: #51565e;
}

.chart_01, .chart_02, .chart_03, .chart_04, .chart_05, .chart_06, .chart_07, .chart_08, .chart_nav {
	float: left;
	display: block;
	background: #f7f7f7;
	padding: 1%;
	margin: 0.5%;
	height: 250px;
}

.chart_area {
	float: left;
	text-align: center;
	vertical-align: middle;
	display: block;
	width: 100%;
	overflow: auto;
	height: 92%;
	*height: 89%;
	background: #fff;
	border: 1px solid #ddd;
	padding: 1%;
}

.chart_nav ul li a {
	float: left;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
}
}

@media (max-width:1690px){
.dashboard, .topology {
	clear: both;
	float: left;
	width: 100%;
	height: auto;
	min-height: 629px;
	padding: 10px;
	background: #51565e;
}
.chart_01, .chart_02, .chart_03, .chart_04, .chart_05, .chart_06, .chart_07, .chart_08, .chart_nav {
	float: left;
	display: block;
	background: #f7f7f7;
	padding: 1%;
	margin: 0.5%;
	height: 210px;
}
.chart_area {
	float: left;
	text-align: center;
	vertical-align: middle;
	display: block;
	width: 100%;
	overflow: hidden;
	height: 92%;
	*height: 89%;
	background: #fff;
	border: 1px solid #ddd;
	padding: 1%;
}

.chart_nav ul li a {
	float: left;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	vertical-align: middle;
}
}

/* 차트 및 네비게이션 높이값 */
.col2_2 {
	width: 38%;
	*width: 34.333%;
	cursor: pointer;
}

.col3 {
	width: 33.333%;
	*width: 28%;
	cursor: pointer;
}

.col4 {
	width: 48.888%;
	*width: 28%;
	cursor: pointer;
}

.dashboard h2 {
	font-size: 13px;
	height: 8%;
	background: url(../../image/common/1dep_bullet.gif) left 2px no-repeat;
	padding-left: 14px;
}
.pointer_ds{
	cursor: pointer;
}


/* Navigation */
.chart_nav {
	float: left;
	display: block;
	background: #333;
	width: 21%; 
	.width: 17.5%;
	padding: 4px;
}

.chart_nav ul {
	float: left;
	width: 100%;
	height: 100%;
	border-radius: 15px 15px 0 0;
	border: 1px solid #222;
}

.chart_nav ul li {
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #000;
	border-top: 1px solid #666;
	text-align: center;
	vertical-align: middle;
}



.nav_all:hover {
	border: 2px solid #5fa9e2;
	background: #383b3f; /* Old browsers */
	background: -moz-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383b3f),
		color-stop(100%, #2c2e32)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #383b3f 0%, #2c2e32 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383b3f',
		endColorstr='#2c2e32', GradientType=0); /* IE6-9 */
}

.nav_all_selected {
	font-size: 14px;
	text-align: center;
	background: #383b3f; /* Old browsers */
	background: -moz-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fa9e2),
		color-stop(100%, #0072d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #5fa9e2 0%, #0072d6 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa9e2',
		endColorstr='#0072d6', GradientType=0); /* IE6-9 */
}

.nav_all_noSelected {
	background: #2c2e32; /* Old browsers */
	background: -moz-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2c2e32),
		color-stop(100%, #383b3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #2c2e32 1%, #383b3f 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2e32',
		endColorstr='#383b3f', GradientType=0); /* IE6-9 */
}

.nav_sys:hover {
	border: 2px solid #5fa9e2;
	background: #383b3f; /* Old browsers */
	background: -moz-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383b3f),
		color-stop(100%, #2c2e32)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #383b3f 0%, #2c2e32 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #383b3f 0%, #2c2e32 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383b3f',
		endColorstr='#2c2e32', GradientType=0); /* IE6-9 */
}

.nav_sys_selected {
	font-size: 14px;
	text-align: center;
	background: #5fa9e2; /* Old browsers */
	background: -moz-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fa9e2),
		color-stop(100%, #0072d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5fa9e2 0%, #0072d6 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #5fa9e2 0%, #0072d6 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa9e2',
		endColorstr='#0072d6', GradientType=0); /* IE6-9 */
}

.nav_sys_noSelected {
	background: #2c2e32; /* Old browsers */
	background: -moz-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2c2e32),
		color-stop(100%, #383b3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2c2e32 1%, #383b3f 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #2c2e32 1%, #383b3f 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2e32',
		endColorstr='#383b3f', GradientType=0); /* IE6-9 */
}

/* chart table */
.chart_table {
	border: 1px solid #ddd;
}

.chart_table table {
	width: 100%;
}

.chart_table table th {
	background: #5fa9e2;
	height: 27px;
	vertical-align: middle;
	/* padding: 8px 10px; */
	border-top: 1px solid #444;
	border-bottom: 2px solid #0072d6;
	color: #fff;
}

.chart_table table tr {
	
}

.chart_table table tr td {
	border-bottom: 1px solid #dedede;
	height: 1.95em;
	vertical-align: middle;
	/* padding: 8px 10px; */
}

/*대시보드 기간선택*/
#dash_date {
	width:50px;
}

#sel_date{
    float: right;
    margin-top: -20px;
    padding-bottom: 6px;
}


/* ============ 토폴로지 =============== */
.topology {
	height: auto;
}

.topology input[type="text"], .topology select {
	border: 0;
	float: none;
}

.topology input[type="text"] {
	padding: 4px 6px;
	width: 10em;
}

.topology input[type="text"].input_cal_tp, .topology input[type="text"].calender {
	padding: 4px 6px 4px 28px;
	width: 10em;
}

.topology input[type="checkbox"] {
	float: left;
	margin-top: 7px; 
	.margin-top: 0;
}

.topology select {
	padding: 3px 4px;
	width: 4em;
}

.option_tp {
	margin-top: 10px;
	padding: 8px 10px;
	border: 1px solid #ddd;
	vertical-align: middle;
	height: auto;
}

.option_tp span {
	float: left;
	color: #ddd;
	vertical-align: middle;
	margin-right: 10px;
	background: url(/images/common/snb_bullet.gif) left 50% no-repeat;
	padding-left: 8px;
}

.option_tp span.margin_tp {
	margin-top: 3px;
}

.option_tp span i {
	float: none;
	color: #ddd;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	margin-top: 7px;
}

/* 관리자행위이력리스트 */
.managerActHistList_logMessage_subStr {
	text-overflow: ellipsis; overflow: hidden; width: 260px; height: 100%; text-align: left; margin-left: 5px; 
}



/** 샘플용 **/
#sampleDiv li {
	padding: 10px 0;
}


/** 사원관리 엑셀업로드 **/
.popup_wrap{ width:550px; height:140px; margin-right:200px; border:2px solid #000; background:#f1f3f5;}
.popup_wrap h2 strong{ color:#f00;}
.popup_wrap h1{ color:#fff; margin:4px;}
.popup_wrap h2{ font-size:13px; background:url(../images/common/1dep_bullet.gif) left 2px no-repeat; padding-left:14px; height:20px;}
.top_line{ width:100%; height:20px;
border-bottom:2px solid #276edb; border-top:1px solid #69c8fa;
background: #5fa9e2; /* Old browsers */
background: -moz-linear-gradient(top,  #5fa9e2 0%, #0072d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5fa9e2), color-stop(100%,#0072d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5fa9e2 0%,#0072d6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5fa9e2 0%,#0072d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa9e2', endColorstr='#0072d6',GradientType=0 ); /* IE6-9 */
}
.btn_close{ text-indent:-9999px; margin:4px;}
.btn_close a{ display:block; width:15px; height:15px;}

.exceldown{
    margin-right: 500px;
    margin-top: 20px;
}
.downexam{
    font-weight: bold;
    color: #ff5e00;
    font-size: 13px;
    margin-left: 150px;
}
	

/*취약성점수 평균 : 100점*/
.weakness{float:left; margin-top:-15px; margin-left:9px;}


/*표하단*/
.table_bottom{float:left; margin-top:-15px; margin-left:9px;}

.mjpoint{
	text-decoration: underline;
	cursor: pointer;
}	

.fileUpLoad {
    width: 380px;
    margin-top: 18px;
    margin-left: 10px;
    height: 29px;
    font-size:15px;
}

.btn_upexcel {
    cursor: pointer;
    margin-top: 18px;
    margin-bottom: -20px;
    margin-right: 10px;
}

.menuarea {
	float:left;
	top: 0;
	left: 0;
	width: 100%;
	height: 58px;
	.height: 55px;
	min-width: 1280px;
	/*border-bottom: 3px solid #3c9cf6;*/
	/*background: url(../../image/common/bg_header.gif) top left repeat-x;*/
	background:#eff1f3;
	margin-bottom:20px;
}



#subMenus .selected {
	float:left;
	color: #3C9CF6;
	font-weight: bold;
	background:#858282;
	width:180;
	height:50px;
}

.lnb2 {
	position: absolute;
	min-width: 760px;
	margin: 0px 0 0 0px;
	.margin-left:0px;
	/*border-left: 1px solid #e3e3e3;
	border-right: 1px solid #fff;*/
	border:1px solid #000;
}


.lnb2 ul {
}

.lnb2 ul li {
	float: left;
	font-weight: bold;
	height:50px;
	line-height:50px;
	/*border-left: 1px solid #fff;
	border-right: 1px solid #e3e3e3;*/
	width:180px;
}


.lnb2 ul li a {
	padding: 0 24px 0px 50px;
	/*padding: 0 0px 0px;*/
	width:180px;
	height:50px;
}

.lnb2 ul li a:hover {
	color: #3c9cf6;
	background:#51565e;
	width:180px;
	height:50px;
}

.securitymenu .selected {
	background:url(../../image/common/securitymenu_bullet.png) bottom center no-repeat; border-left:1px solid #c6c6cb; border-right:1px solid #c6c6cb;
	color:#0a1d36;
}

.securitymenu .selected_li {
	float:left;
	width:180;
	height:49px;
	/*background:#eaebef url(../../image/common/arrow_menu.gif) bottom center no-repeat;*/
}


.securitymenu{ clear:both; background:#eff1f3; border-bottom:2px solid #e9e9e9; width:100%; height:50px; margin-bottom:20px;}
.securitymenu ul{}
.securitymenu ul li{ font-size:13px; font-weight:600; }
.securitymenu ul li a{ float:left; display:block; padding:18px 25px;}
.securitymenu ul li a:hover{ padding:17px 24px 18px 24px; background:#bdd4f4 url(../../image/common/securitymenu_bullet.png) bottom center no-repeat; /*border-left:1px solid #c6c6cb; border-right:1px solid #c6c6cb;*/ 
border-top:2px solid #003b8d; font-weight:700; color:#fff; }




.graph_area{

margin-top:15px;
width:100%;
float:left;

}


#systemDetailDiv{
	display: inline;
	width: 70%;
}

#systemDetailDiv font {
	font-weight: bold;
	font-size:13px;
}

#systemDetailForm2 table td input[type='text'] {
	float:none;
	font-weight:bold;
	width: 13em; 
	border: 1px solid;
}

#systemDetailDiv2 font {
	font-weight: bold;
	font-size:13px;
}

#systemDetailDiv2{
	display: none;
	width: 70%;
}



.btn_excepItem {
	display:inline-block; border:1px solid #2d8beb; padding:6px 12px 5px 12px; background-color:#fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; transition:all 0.3 ease; cursor: pointer;
}
.btn_excepItem:hover {
	color:#016fdf; border:1px solid #016fdf; 
}
.btn_delItem {
	display:inline-block; border:1px solid #ed623c; padding:6px 12px 5px 12px; background-color:#fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; transition:all 0.3 ease; cursor: pointer;
}
.btn_delItem:hover {
	color:#ec3504; border:1px solid #ec3504; 
}

.btn_addItem {
	display:block; float:right; font-weight:bold; color:#fff; margin-top:-20px; margin-right:23px; padding:12px 30px 10px 30px; background-color:#4196f5; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; transition:all 0.3 ease; cursor:pointer;
}
.btn_addItem:hover {
	background-color:#0874ee;
}

.tit_custom {
	clear:both; font-size:16px; line-height:1.5em; font-weight:bold; padding:20px 0px 0px 10px;
}

 #dash_date3{
	position: relative;
	top: -4%;
	/* left: 54%;  */
}

#dash_date4{
	position: relative;
	top: -4%;
	/* left: 49%;  */
}

#dash_date5{
	position: relative;
	top: -4%;
	/* left: 55%;  */
} 


