label {
	margin-bottom: 0px;
	display: block;
}

h4 {
	display: inline;
}

.year {
	display: inline;
}

.content_subtitle {
	width: 83.33%;
	margin: 30px auto 30px;
}

.btn {
	border-radius: 2px !important;
}

.col-md-6 {
	text-align: left;
}

.btn-xsm {
	padding: 0 5px;
	font-size: 12px;
	line-height: 1.5;
}

.btn_group {
	width: 1000px;
	margin: 20px 17px 0px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	display: none;
	text-align: left;
}

.btn_group label {
	margin-right: 10px;
	font-weight: 800;
	user-select: none;
	cursor: pointer;
	display: inline-block;
}

.btn_group img {
	margin-right: 5px;
}

.btn_download {
	margin-left: 15px;
	background-color: #38c4bf;
	color: white;
}

.btn_upload {
	border-color: darkgray;
	background-color: white;
}

.btn_upload:hover {
	background-color: darkgray;
	color: white;
}

.fa-dot-circle {
	color: #689fe1;
	display: inline;
}

#intro_content {
	margin: 20px;
	font-size: medium;
	font-weight: bold;
	padding-bottom: 20px;
}

.q_report_font {
	position: absolute;
	width: 95px;
	z-index: 5;
	font-size: 17px;
	font-weight: 600;
	user-select: none;
	text-align: center;
}

.q_report_font_top {
	top: 35px;
	left: 42px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}

.q_report_font_bottom {
	top: 64px;
	left: 26px;
}

.q_report_btngroup {
	width: 164px;
	position: absolute;
	top: 210px;
}

.q_report_btngroup>button {
	padding: 3px 8px;
}

/* .m_report {
	font-size: medium;
	font-weight: bold;
	margin-bottom: 15px;
	overflow: auto;
}

.m_report_title {
	width: 150px;
	display: inline-block;
	margin-left: 10px;
	font-weight: 700;
} */

.report {
	position: relative;
	display: inline-block;
	width: 162px;
	height: 178px;
}

.report_disable .report_img {
	opacity: 0.5;
}

.report_disable .q_report_font {
	opacity: 0.5;
}

.report_disable .report_new_btn {
	display: block;
	cursor: pointer;
}

.report_disable .report_check {
	display: none;
}

.report_unActivity .report_shadow{
	box-shadow: none;
	border: 3px solid red;
}

.report_unActivity .report_img {
	opacity: 0.5;
}

.report_unActivity .q_report_font {
	opacity: 0.5;
}

.report_unActivity .report_check {
	display: none;
}

.report_unActivity:after{
	height: 192px;
    width: 0px;
    border: 2px solid red;
    content: "";
    display: block;
    margin-left: 80px;
    margin-top: 3px;
    
    -ms-transform: rotate(37deg); 
	-webkit-transform: rotate(37deg); 
	transform: rotate(37deg);
}

.report_new_btn {
	/* position: absolute;
	    top: 90px;
	    left: 33px; */
	display: none;
}

.report .report_img {
	position: absolute;
	top: 0;
	left: 0;
}

.report .report_shadow {
	width: 122px;
	height: 158px;
	position: absolute;
	top: 20px;
	left: 21px;
	transition: 0.05s;
	z-index: 10;
	border-collapse: collapse;
	display: flex;
	padding-top: 85px;
	padding-left: 35px;
}

.report_shadow .report_check {
	position: absolute;
	width: 18px;
	height: 18px;
	border: 1px solid lightgray;
	border-radius: 1px;
	bottom: 8px;
	right: 8px;
}

.report .report_shadow:hover {
	border-collapse: collapse;
	box-shadow: 0 0 15px dodgerblue;
}

.report .report_shadow:active {
	box-shadow: 0 0 0;
}

.report_active {
	/* box-shadow: 0 0 25px rgba(0,0,0,0.5); */
	
}

.check_img {
	display: none;
}

.check_box {
	display: none;
}

.report_active .check_img {
	display: block;
}

/* .m_report_image {
	position: relative;
	display: inline-block;
	width: 67px;
	height: 35px;
	vertical-align: middle;
	background-image:
		url('../../image/reportmanage/btn_listicon_enable.png');
}

.m_report_image>img {
	display: none;
}

.m_report_image_check {
	background-image:
		url('../../image/reportmanage/btn_listicon_check.png');
}

.m_report_image_check>img {
	display: block;
}

.m_report_image_disable {
	background-image:
		url('../../image/reportmanage/btn_listicon_disable.png');
} */

.m_report{
	user-select:none;
	position: relative;
	background-image : 
		url('../../image/reportmanage/report_monthly_enable.png');
}

.m_report_disable{
	background-image : 
		url('../../image/reportmanage/report_monthly_disable.png');
}

.m_report_title{
	padding-top: 33px;
    width: 98%;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}


.report_disable .m_report_new_btn {
	display: block;
	cursor: pointer;
}

.m_report_new_btn {
	display: none;
}

.m_report_check{
	width: 12px;
    height: 12px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    bottom: 20px;
    left: 19px;
}

.m_report_disable .m_report_check{
	display: none;
}

.m_report_check img{
	display: none;
    position: absolute;
    bottom: -1px;
    left: -3px;
}

.m_report_shadow{
	width: 34px;
    height: 144px;
    left: 8px;
    bottom: 5px;
    position: absolute;
}

.m_report_shadow:hover{
	border-collapse: collapse;
	box-shadow: 0 0 15px dodgerblue;
}

.m_report_shadow:active{
	box-shadow: 0 0 0;
}
.m_report_active .m_report_check>img{
	display: block;
}

.report_loading {
	margin-top: 30px;
	margin-left: 25px;
	display: none;
}

#fileForm{
	display: none;
}