@charset "utf-8";
/* CSS Document */

/* ============ Style =============== */
.align_l{ float:left;}
.align_r{ float:right;}
.align_c{ text-align:center;}
.blind{ display:none;}
.wrapper{ min-width:1280px;}
input[type="text"], select{ float:left;}
input[type="radio"]{ vertical-align:-2px;}
.btn{ display:block; float:left; text-align:center;}
h1{} 
h2{ font-size:22px; }
h3{ font-size:20px; }

/* ============ Header =============== */
.header{ position:fixed; top:0; left:0; width:100%; height:50px; min-width:1280px; background:#2b3643; z-index:1000; padding:0;}
.logo{ display:block; width:208px; height:21px; background:url(../img/common/logo.png) top center no-repeat; text-indent:-9999px; margin:15px 0 0 10px; }
.gnb{ margin-left:20px;}
.gnb li{ float:left; font-size:13px;}
.gnb li a{ display:block; height:50px; color:#c6cfda; padding:16px 26px 0 18px; background:url(../img/common/ico-arrow-gnb.gif) right 22px no-repeat;  }
.gnb li a:after{}
.gnb li a:hover{ color:#fff;}
.gnb li a.select{ color:#fff; background-color:#3e4955; font-weight:bold;}

/* ============ Left =============== */
.left_area{ position:fixed; padding:0; margin:0; left:0; top:50px; width:40px; height:100%; background:#364150; z-index:1;}

/* ============ Container =============== */
.container{ /* position:absolute; */position:relative; padding:0 !important; margin:0; width:100%; height:100%; min-width:1240px; min-height:900px; background:#fafafa}

.page-content-wrapper .page-content{padding:0 !important;}
/* ============ Contents =============== */
.contents{ position:relative; float:left; width:100%; height:auto; padding-bottom:80px; background:#fafafa}

/* ============ report =============== */
.top-area{ width:100%; height:236px; background:#016ecf; border-radius:0 0 0 50px; padding-top:60px; }
.top-area h2{ font-size:22px; font-weight:normal; letter-spacing:-1px; color:#fff;}
.report_type{ display:inline-block; background:#348bd9; border-radius:20px; margin-top:38px;}
.report_type li{ float:left; height: 40px;}
.report_type li a{ width: 166px; height: 40px; display: block; border-radius: 20px; padding-top: 10px; color: #fff; font-size: 14px; letter-spacing: -1px;}
.report_type li a:hover{ text-decoration:underline;}
.report_type li a.select{ font-weight:bold; color:#016ecf; background:#fff;}

.report{ width:1024px; margin:0 auto; text-align:left; padding-top:48px; }
.title{ float:left; width:100%; margin-bottom:16px; margin-top:40px;}
.report h3{ font-size:15px; letter-spacing:-1px; color:#000;}
.option-area{ position:absolute; top:200px; width:1024px; height:70px; background:#fff; border:1px solid #f2f2f2; border-radius:20px; }
.option-area select{ width:160px; height:36px; border-color:#ddd;border-width:1px; border-radius:3px; padding-left:10px; color:#000; font-weight:bold; margin:15px 0 0 30px;}
.option-area a.report-object{ height:18px; letter-spacing:-0.5px; margin: 24px 20px 0 0; color:#666; background:url(../img/common/ico-set.gif) right 0 no-repeat; padding-right:18px; }
.option-area a.report-object strong{ text-decoration:underline; color:#000;}

.report_list{ display:none; width:100%; border-radius:10px; background:#fff; box-shadow: 0px 1px 6px 0px lightgrey; border-top:1px solid #f2f2f2; border-left:5px solid transparent; padding-top:1px;  }
.report_list_y{ border-color:#2f8ee2;}
.report_list_q{ border-color:#99aaf0;}
.report_list_m{ border-color:#72dad1;}
.report_list.active{ display:block;}

.report_list li{ float:left; width:100%; background:#fff; border:1px solid transparent; margin-top:-2px; margin-bottom:1px;border-radius:10px;} 
.report_list li:hover, .report_list li.select{ border:1px solid #000; border-radius:5px; width:100%; position:relative; z-index:100; box-sizing: border-box;} 
.report_list li div.list-bar{ width:100%; float:left; padding:0 24px;}
.report_list li div.data{ float: left; width: 100%; border-bottom: 1px solid #ddd; padding: 24px 0 17px 10px;}
.report_list li div.data h4{ color:#000; font-size:18px; margin-bottom:8px; line-height:20px;}
.report_list li div.data span{ margin-top:8px; font-size:12px; color:#949494; line-height:18px;}

.report_list li.select div h4{ color:#016ecf;}
.report_list li.select div.data, .report_list li:last-child div.data{border-bottom:0 none;}
.report_list li.select div.option-bar{ display:block;}
.report_list li div.option-bar{ display:none; float:left; width:100%; background:#fafafa; border-top:1px solid #eaeaea; padding:10px 24px 10px 24px; border-radius:0 0 5px 5px}
.report_list li div.option-bar input[type="checkbox"]{ float:left;}
.report_list li div.option-bar input[type="checkbox"]+.lbl{ font-size:13px; line-height:16px;}
.report_list li div.option-bar div.align_r .btn{ margin-left:5px;}
.fileBox .fileName {display:inline-block;width:190px;height:22px;padding-left:10px;margin-left:4px;line-height:22px;border:0;background-color:#fff;}
.fileBox .btn_file {display:inline-block; float:left; border:1px solid #016ecf; color:#016ecf;text-align:center; vertical-align:middle; background:#fff; margin-left:20px}
.fileBox input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.btn_t_download{ font-size:11px; background:#fff; height:22px; line-height:22px; padding:0 4px; color:#888; }

.inpChk { display: inline-block; position: relative; vertical-align: middle; }
.report_list li.nodata{ background:#fafafa;}
.report_list li.nodata:hover{ border:1px solid #fafafa;}
.report_list li.nodata h4{ color:#666; font-weight:normal;}

.btn_s{ font-family:'돋움'; color:#888; font-size:11px; line-height:18px; vertical-align:middle; border:1px solid #ddd; border-radius:3px; height:22px; padding:2px 10px; background:#fff; }
.btn_s:hover{ border-color: #888;}
.btn_m, .btn_l{ padding: 10px 10px 12px 10px; line-height: 16px; border-radius: 3px; margin-left: 8px; vertical-align: middle;}
.btn_m{ width:102px;}
.btn_l{ width:214px;}
.btn_gray{ color:#222; border:1px solid #ddd; background:#fff;}
.btn_blue{ color:#fff; font-weight:bold; background:#016ecf;}
.btn_line{ color:#016ecf; font-weight:bold; background:#fff; border:1px solid #ddd;}
.btn_line_disable{ color:#888; font-weight:bold; background:#fafafa; border:1px solid #ddd;}
.btn_redo{ color:#949494; background: url(../img/common/ico-redo.gif) left 2px no-repeat; padding-left: 14px; margin: 12px 28px;}
.btn_redo:hover{ color:#000; text-decoration:underline;}
.download_info{ background: url(../img/common/ico-info.gif) left 1px no-repeat; padding-left:20px; color:#949494; font-size:12px; letter-spacing:-1px; line-height:17px; margin:2px 4px; }
.btn_f_open{ color:#016ecf; font-weight:bold; font-size:12px; line-height:14px;padding-right:12px;background: url(../img/common/ico-arrow-f-open.gif) right 6px no-repeat;}
.btn_f_open:before{ content:'펼쳐보기';}
.btn_f_open.active{ background: url(../img/common/ico-arrow-f-close.gif) right 5px no-repeat;}
.btn_f_open.active:before{ content:'접어두기'; }


/* ============ dashborad =============== */
.dashborad{position:relative; float:left; width:100%; min-width:1400px; height:auto; padding:48px 24px; background:#222d36;}
.data_option{ margin-bottom:40px;}
.detail_search{ margin-bottom:40px;}
.detail_search li{ display:inline-block;}
.detail_search li a{ font-size:18px; color:#a8b0b6; margin:0 20px; letter-spacing:-.5px;} 
.detail_search li a:hover, .detail_search li a.select{ font-weight:bold; color:#fff;} 
.section_detail_srch{}
.section_detail_srch div.srch_time p{ display:inline-block; font-size:16px; color:#fff; background: url(../../image/databoard/ico-carenda.gif) 12px top no-repeat; padding-left:32px }
.section_detail_srch div select, .section_detail_srch div input{ float:inherit; font-family: "Malgun Gothic",dotum,gulim,sans-serif; border:1px solid #2e3a44; border-radius:5px; font-size:13px; color:#c8ced2 !important; height:36px; background:#222d36; padding:0 20px 0 14px; padding:0 0 0 14px \0/IE8+9;}
.section_detail_srch div input{ width:130px; padding:0 10px 0 32px; background: url(../../image/databoard/ico-carenda.gif) 12px 9px no-repeat; }
.section_detail_srch div select option{color:#c8ced2;}
.section_detail_srch div button.btn_search{ position:absolute; background:#2a3641;border:1px solid #2e3a44; border-radius:5px; font-size:13px; font-weight:bold; color:#fff; padding:10px 14px 11px; margin-left:5px;}

.dashborad-area{width:100%;margin-top:20px;}
.section_data{ float:left; margin-top:48px; color:#fff;}
.section_data.col2{ width:48%; margin-left:1%;margin-right:1%;}
.section_data.col3{ width:31.333%; margin-left:1%;margin-right:1%;}
.section_data.col3.both{ clear:both;}
.section_data h2{ font-size:15px; letter-spacing:-1px; color:#a9adb1; margin:0 0 14px 10px; text-align:left;}
.section_data h2 span{ font-size:13px; color:#7b858f; letter-spacing:-.5px; font-weight:normal; line-height:13px; margin-left:16px;}
.section_data h2 span img{ vertical-align:middle;}
.section_data .chart_area, .chart2 div.block{ position:relative; display:block; background:#25313b; border-radius:10px; box-shadow:0px 1px 5px 0px rgba(0,0,0,0.18); }
.section_data.col2 .chart_area{height:300px; }
.section_data.col3 .chart_area{height:410px; }


.chart1{ padding:80px 5% 0;display: flex;overflow: auto;height: 280px;}
.chart1::-webkit-scrollbar { width:12px; }
.chart1::-webkit-scrollbar-thumb { background-color:#2f3b48; border-radius:6px; background-clip:padding-box; border: 2px solid transparent; }
.chart1::-webkit-scrollbar-track { background-color:#222d36; border-radius:6px; }
.chart1 span.info_message{ position:absolute; top:16px; right:40px; color:#ea3d49; font-size:13px; letter-spacing:-1px; padding:10px 24px; background:#222d36; border-radius:15px;}
.chart1 .donutchart_s{ position:relative; float:left; width:20%; padding:0 1%;}
.chart1 .donutchart_s div{ width:100%; height:140px}
.chart1 .donutchart_s p.title{ font-size:14px; color:#fff; margin-top:8px; line-height:18px;}
.chart1 .donutchart_s p.data{ position:absolute; font-size:24px; color:#fff; font-weight:bold; top:56px; margin-left:-4%; width:100%;}

.chart2{}
.chart2 div.block{ position:relative; float:left; height:143px;}
.chart2 div.block.col2{ width:49%; margin:0.5%;}
.chart2 div.block.col3{ width:32.333%; margin:0.5%;}
.chart2 div.block span.ranking{ position:absolute; top:0; left:0; }
.chart2 div.block.col2 span.ranking{ color:#fff; font-weight:bold; font-size:16px; width:52px; padding-left:7px; height:30px; background:#2f8ee2; border-radius: 10px 0; line-height:30px; text-align:center;}
.chart2 div.block.col3 span.ranking{ color:#68727a; font-size:15px; margin:14px 0 0 20px;}
.chart2 div.block p.count{ color:#fff; font-weight:bold; font-size:24px; margin-top:48px; }
.chart2 div.block.col2 p.count{ font-size:36px;}
.chart2 div.block p.count span{ color:#fff; font-size:16px; margin-left:4px; }
.chart2 div.block p.user{ color:#9ea6af; font-weight:bold; font-size:13px; margin-top:10px; }
.chart2 div.block p.user span.user_id{color:#9ea6af; font-weight:normal; margin-left:4px;}
.chart2 div.block p.user span.user_id:before{ content:'(';}
.chart2 div.block p.user span.user_id:after{ content:')';}
.chart2 div.block span.dept{ position:absolute; top:12px; right:16px; color:#8e98a2; font-size:12px; border:1px solid #4f5e6a; border-radius:14px; padding:4px 16px 6px;}

.chart3{ padding:16px 24px;}
.chart3 ul{ height:378px; overflow:auto;}
.chart3 ul li{ float:left; width:100%; padding:16px 0; border-bottom:1px solid #2c3844;}
.chart3 ul li div.log_data{}
.chart3 ul li div.log_data span.ranking{ float:left; display:block; width:40px; height:40px; border-radius:50%; background:#222d36; font-size:15px; color:#aeb1b3; text-align:center; line-height:36px; padding-left:4px;}
.chart3 ul li div.log_data p.dept{ margin-left:24px; width:30%; text-align:left; display:inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; letter-spacing:-1px;}
.chart3 ul li div.log_data p.count{ float:left; width:50%;}
.chart3 ul li div.log_data p.dept, .chart3 ul li div.log_data p.count span{ float:left; color:#fff; font-size:16px; font-weight:bold; line-height:36px;}
.chart3 ul li div.log_data p.count span{ display:inline-block; width:40%; text-align:right;}
.chart3 ul li div.log_data p.count span.bf{ width:60%; padding-left:24px; font-size:12px; color:#bcc2c9; text-align:left; font-weight:normal; line-height:20px; margin-top:8px;}
.chart3 ul::-webkit-scrollbar { width:12px; }
.chart3 ul::-webkit-scrollbar-thumb { background-color:#2f3b48; border-radius:6px; background-clip:padding-box; border: 2px solid transparent; }
.chart3 ul::-webkit-scrollbar-track { background-color:#222d36; border-radius:6px; }

.chart4{ padding:20px;}
.chart4 div{ margin:20px auto;}

.chart_area.system_info{ padding:56px 40px;}
.chart_area.system_info h3{ color:#fff; font-size:22px; letter-spacing:-1px; font-weight:normal; margin-bottom:32px}
.chart5{ background:#222d36; padding:56px 40px; border-radius:10px;}
.chart5 div{ text-align:left; margin-bottom:16px;}
.chart5 div p.system_name{ color:#fff; font-size:13px; margin-bottom:8px;}
.barchart_values1, .barchart_values2, .barchart_values3{ width:100%; height:12px;}


/* ============ popup/table =============== */
.popup_wrap{}
.popup{ width:540px; height:500px; margin:0 auto; background:#fff;box-shadow:rgba(0,0,0,0.6) 0 0 0 99999px; z-index:100;}
.popup_header{ width:100%; height:50px; background:#016ecf; }
.popup_header h1{ font-size:15px; color:#fff; font-weight:bold; letter-spacing:-1px; margin:16px 0 0 32px; }
.popup_header .btn_close{ margin:19px 24px;background: url(../img/common/ico-close.gif) left top no-repeat; width:13px; height:13px; }
.popup_contents{ padding:30px 32px;}
.popup_contents .comment{ margin-bottom:48px;}
.table-box-wrap {position:relative; margin-top:20px; padding-top:40px;}
.table-box-wrap .table-box { max-height:248px; overflow:auto; overflow-x:hidden; border:1px solid #ddd;}
.table-box-wrap .table-box table { width:100%; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
.table-box-wrap .table-box table caption {position:absolute; font-size:0; left:-99999px;}
.table-box-wrap .table-box table thead tr { position:absolute; top:0;}
.table-box-wrap .table-box table thead tr th {font-weight: bold;line-height:40px; background:#fff; color:#222;}
.table-box-wrap .table-box table td { text-align:center; height:px;line-height:38px; color:#222; font-size:13px;}
.table-box-wrap .table-box table tr:nth-child(odd){ background-color:#f5f5f5;}
.table-box-wrap .table-box table tr { display: inline-table; width: 100%; table-layout: fixed;}
.table-box-wrap .table-box table tbody tr { display: table-row;}
.table-box-wrap .table-box table td.system_name{ text-align:left; padding-left:40px}
.popup_btn{ margin-top:24px;}

.progress{background-color: #2f3b48}
.inner_value{position: absolute;top: 60px;font-size: 29px;font-weight: bold;width: 100%;left: 8px;}
.inner_name{position: absolute;top: 150px;width: 100%;left: 8px;}
.system_info_name{height: 25px;display: inline-block;line-height: 25px;background: #2f8ee2;border-radius: 5px;padding: 0px 3px;font-weight: 500;min-width: 60px;text-align: center;cursor: pointer;user-select: none;}
.disable{display: none!important;}
.btn_active{background-color:darkgray;color:black;}