<%@ tag language="java" pageEncoding="EUC-KR"%>
<%@ attribute name="max" %>
<%@ attribute name="value" %>
<%
if(Integer.valueOf(value) != 0 && max.equals(value)) {
%>
	style="background-color: #F14545; color: #ffffff; opacity: 0.7;"
<%
}
%>

